<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:jsf="http://xmlns.jcp.org/jsf"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  template="/WEB-INF/templates/deprecated/flex-main-workspace.xhtml"> 

  <ui:define name="scripts">
    <script defer="defer" type="text/javascript" src="#{request.contextPath}/JavaScriptLocales?lang=#{sessionBackingBean.locale}"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/locales.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/dustjs-linkedin/2.7.1/dust-full.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/dustjs-helpers/1.7.1/dust-helpers.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jssha/2.0.2/sha.js"></script>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jszip/3.0.0/jszip.min.js"></script>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/dustloader.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace.js"/> 
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-journal.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/socialnavigation.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/ckeditor/4.5.9/ckeditor.js"/>
  </ui:define>
  
  <ui:define name="workspace-view-styles">
    <link rel="stylesheet" type="text/css" href="/css/deprecated/flex/workspace-journal.css"/>   
    <link rel="stylesheet" type="text/css" href="/css/deprecated/flex/flex-main-functionality.css"/>          
  </ui:define>
  
  <ui:define name="grid-content">
    <form style="display: none;">
      <input  class="workspaceEntityId" name="workspaceEntityId" type="hidden" value="#{workspaceJournalBackingBean.workspaceEntityId}" />
    </form>
  
    <div class="flex-row">
      <h1 class="workspace-generic-view-title lg-flex-cell-full md-flex-cell-full sm-flex-cell-full no-margin-top no-margin-bottom">#{i18n.text['plugin.workspace.journal.pageTitle']} - #{workspaceBackingBean.workspaceName}</h1>
    </div>

    <ui:fragment rendered="#{workspaceJournalBackingBean.myJournal and not workspaceJournalBackingBean.canListAllEntries}">
      <div class="flex-row">
        <div class="workspace-journal-new-entry-container lg-flex-cell-full md-flex-cell-full sm-flex-cell-full no-margin-top no-margin-bottom">
          <div class="workspace-journal-new-entry-button">#{i18n.text['plugin.workspace.journal.newEntryButton.label']}</div>
        </div>
      </div>
    </ui:fragment>

    <form method="get" id="studentSelectForm">
      <div class="flex-row">
        <ui:fragment rendered="#{workspaceJournalBackingBean.canListAllEntries}">
          <div class="workspace-journal-teacher-tools-container lg-flex-cell-full md-flex-cell-full sm-flex-cell-full no-margin-top no-margin-bottom">
            <div class="workspace-journal-select-student-container flex-row flex-align-items-center">
              <span class="journal-select-student-label lg-flex-cell-1 md-flex-cell-1 sm-flex-cell-1">#{i18n.text['plugin.workspace.journal.studentFilter.label']}</span>
                
              <select id="studentSelectField" class="journal-select-student-selection lg-flex-cell-15 md-flex-cell-15 sm-flex-cell-15"
                name="studentId" size="1">
                <option value="">#{i18n.text['plugin.workspace.journal.studentFilter.showAll']}</option>
              </select>
            </div>
          </div>
        </ui:fragment>
      </div>
    </form>

    <div class="journal workspace-journal-content-wrapper flex-row flex-align-items-center" data-canListAllEntries="#{workspaceJournalBackingBean.canListAllEntries}" data-myJournal="#{workspaceJournalBackingBean.myJournal}">
      <ui:fragment rendered="#{workspaceJournalBackingBean.myJournal and not workspaceJournalBackingBean.canListAllEntries}">
        <div id="noEntriesMessage" style="display:none;" class="workspace-journal-no-entries lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">#{i18n.text['plugin.workspace.journal.noEntries']}</div>
      </ui:fragment>
      <ui:fragment rendered="#{workspaceJournalBackingBean.canListAllEntries}">
        <div id="noEntriesMessage" style="display:none;" class="workspace-journal-no-entries lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">#{i18n.text['plugin.workspace.journal.studentHasNoEntries']}</div>
      </ui:fragment>

      <div id="journalEntries" class="lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">
      </div>
      <div class="workspace-journal-paging-toolbar lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">
        <div class="mf-paging-tool mf-page-link-load-more wj-page-link-load-more" style="display:none;">#{i18n.text['plugin.workspace.journal.loadMoreEntries']}</div>
      </div>
    </div>
  </ui:define>
</ui:composition>
