<?xml version="1.0" encoding="UTF-8"?>
  <ui:composition xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:jsf="http://xmlns.jcp.org/jsf"
    template="/WEB-INF/templates/deprecated/flex-materials-fullscreen-view.xhtml"> 
    
  <ui:define name="scripts">
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/lodash/4.12.0/lodash.min.js"></script>
    <script defer="defer" type="text/javascript" src="#{request.contextPath}/JavaScriptLocales?lang=#{sessionBackingBean.locale}"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/locales.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/dustjs-linkedin/2.7.1/dust-full.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/dustjs-helpers/1.7.1/dust-helpers.min.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/dustloader.js"/> 
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/article-details.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace.js"/>  
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-activity.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-signup-dialog.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-materials-reading.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.jquery.min.js"/>
    <ui:include src="workspace-material-scripts.xhtml"/>
  </ui:define>
  
  <ui:define name="styles">
    <link rel="stylesheet" type="text/css" href="/css/deprecated/flex/workspace-materials-reading.css"/>  
    <link rel="stylesheet" type="text/css" href="/css/deprecated/flex/circle.css"/>          
    <link rel="StyleSheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.1/magnific-popup.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.min.css"/>
  </ui:define>
  
  <ui:define name="grid-content">
    <div id="workspaceMaterialsReadingTOCWrapper">
      <nav class="workspace-waterials-reading-nav" id="workspaceMaterialsReadingNav">
        <div class="widget wi-workspace-materials-full-screen-navi-button-toc">
          <span class="icon-navicon w-tooltip" title="Sisällysluettelo">
            <span class="workspace-materials-full-screen-tt-container-toc">Sisällysluettelo</span>
          </span>
        </div>
        <div class="widget wi-workspace-materials-full-screen-navi-button-goback">
          <h:link styleClass="icon-goback w-tooltip" title="Palaa takaisin" outcome="/jsf/workspace/materials.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
            <span class="workspace-materials-full-screen-tt-container-goback">Palaa takaisin</span>
          </h:link>
        </div>
        <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE_MATERIALS')}">
          <div class="widget wi-workspace-materials-full-screen-navi-button-manage-materials">
            <h:link styleClass="icon-edit-materials w-tooltip" title="Muokkaa materiaaleja" outcome="/jsf/workspace/materials-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
              <span class="workspace-materials-full-screen-tt-container-manage-materials">Muokkaa materiaaleja</span>
            </h:link>
          </div>
        </ui:fragment>
      </nav>

      <div id="workspaceMaterialsReadingTOCContainer">
        <div class="workspace-materials-reading-TOC-title">
          <h1>#{i18n.text['plugin.workspace.materialsReading.tocTitle']}</h1>
          <div id="workspaceMaterialsReadingTOCPinicon" class="icon-pin" title="Kiinnitä sisällysluettelo"></div>
        </div>
       
        <div class="workspace-materials-toc-content-scrolling" id="materialsScrollableTOC">
          <ul class="workspace-materials-toc-root">
            <ui:repeat var="node" value="#{workspaceMaterialsReadingBackingBean.contentNodes}">
              <ui:fragment rendered="#{node.type eq 'folder'}">
                <li>
                  <ul class="workspace-materials-toc-section">
                    <ui:fragment rendered="#{node.viewRestricted eq true}">
                      <li class="workspace-materials-toc-subtitle item-view-restricted">#{node.title}<span class="icon-closed-material"></span></li>
                    </ui:fragment>
                    <ui:fragment rendered="#{node.viewRestricted eq false}">
                      <li class="workspace-materials-toc-subtitle">#{node.title}</li>
                      <ui:repeat var="articleNode" value="#{node.children}">
                        <ui:fragment rendered="#{articleNode.type eq 'folder'}">
                          <li class="workspace-materials-toc-subtitle">#{articleNode.title}</li>
                        </ui:fragment>
                        <ui:fragment rendered="#{articleNode.type ne 'folder'}">
                          <li class="workspace-materials-toc-item #{articleNode.viewRestricted eq true ? 'item-view-restricted' : ''}" data-workspace-material-id="#{articleNode.workspaceMaterialId}">
                            <h:outputLink value="#page-#{articleNode.workspaceMaterialId}" class="#{articleNode.assignmentType eq 'EVALUATED' ? 'assignment' : articleNode.assignmentType eq 'EXERCISE' ? 'exercise' : ''}">#{articleNode.title}</h:outputLink>
                            <ui:fragment rendered="#{articleNode.viewRestricted eq true}">
                              <span class="icon-closed-material"></span>
                            </ui:fragment>
                          </li>
                        </ui:fragment>
                      </ui:repeat>
                    </ui:fragment>
                  </ul>
                </li>
              </ui:fragment>
  
              <ui:fragment rendered="#{node.type ne 'folder'}">
                <li class="workspace-materials-toc-item #{articleNode.viewRestricted eq true ? 'item-view-restricted' : ''}" data-workspace-material-id="#{articleNode.workspaceMaterialId}">
                  <h:outputLink value="#page-#{node.workspaceMaterialId}" class="#{node.assignmentType eq 'EVALUATED' ? 'assignment' : node.assignmentType eq 'EXERCISE' ? 'exercise' : ''}">#{node.title}</h:outputLink>
                  <ui:fragment rendered="#{articleNode.viewRestricted eq true}">
                    <span class="icon-closed-material"></span>
                  </ui:fragment>
                </li>
              </ui:fragment>
            </ui:repeat>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="contentWorkspaceMaterialsReading">
      <form style="display: none;">
        <input type="hidden" name="max-file-size" value="#{workspaceMaterialsBackingBean.maxFileSize}" />
      </form>
  
      <section class="flex-row">
        <article class="lg-flex-cell-full md-flex-cell-full sm-flex-cell-full no-margin-top">
          <h1>#{workspaceMaterialsReadingBackingBean.workspaceName}</h1>
          <div class="workspace-materials-fullscreen-progress-wrapper">
            <div class="workspace-progress-widget workspace-materials-fullscreen-progress-container flex-row flex-justify-content-end">
            </div>
          </div>  
          <ui:repeat var="node" value="#{workspaceMaterialsReadingBackingBean.contentNodes}">
            <ui:fragment rendered="#{node.type eq 'folder'}">
              <section id="page-#{node.workspaceMaterialId}" class="workspace-materials-view-page-section material-reading-view" data-workspace-material-id="#{node.workspaceMaterialId}" data-material-id="#{node.materialId}" data-material-type="#{node.type}" data-material-title="#{node.title}" data-path="#{node.path}" data-view-restricted="#{node.viewRestricted}">
                <h2>#{node.title}</h2>
                <ui:fragment rendered="#{node.viewRestricted eq true}">
                  <p class="content-view-restricted-message">#{i18n.text['plugin.workspace.sectionViewRestricted']}</p>
                </ui:fragment>
                <ui:fragment rendered="#{node.viewRestricted eq false}">
                  <ui:repeat var="articleNode" value="#{node.children}">
                    <ui:fragment rendered="#{articleNode.type eq 'folder'}">
                      <ui:fragment rendered="#{articleNode.level eq 1}">
                        <h3>#{articleNode.title}</h3>
                      </ui:fragment>
                      <ui:fragment rendered="#{articleNode.level eq 2}">
                        <h4>#{articleNode.title}</h4>
                      </ui:fragment>
                      <ui:fragment rendered="#{articleNode.level eq 3}">
                        <h5>#{articleNode.title}</h5>
                      </ui:fragment>
                      <ui:fragment rendered="#{(articleNode.level eq 4) or (articleNode.level gt 4)}">
                        <h6>#{articleNode.title}</h6>
                      </ui:fragment>
                    </ui:fragment>
                    <ui:fragment rendered="#{articleNode.type ne 'folder'}">
                      <article id="page-#{articleNode.workspaceMaterialId}" data-correct-answers="#{articleNode.correctAnswers}" data-assignment-type="#{articleNode.assignmentType}" data-workspace-material-id="#{articleNode.workspaceMaterialId}" data-material-id="#{articleNode.materialId}" data-material-type="#{articleNode.type}" data-material-title="#{articleNode.title}" data-material-content="#{articleNode.html}" data-path="#{articleNode.path}" data-license="#{articleNode.license}" data-producers="#{articleNode.producers}" data-view-restricted="#{articleNode.viewRestricted}" class="material-page material-reading-view"/>
                    </ui:fragment>
                  </ui:repeat>
                </ui:fragment>
              </section>
            </ui:fragment>  
            
            <ui:fragment rendered="#{node.type ne 'folder'}">
              <article id="page-#{node.workspaceMaterialId}" data-correct-answers="#{node.correctAnswers}" data-assignment-type="#{node.assignmentType}" data-workspace-material-id="#{node.workspaceMaterialId}" data-material-id="#{node.materialId}" data-material-type="#{node.type}" data-material-title="#{node.title}" data-material-content="#{node.html}" data-path="#{node.path}" data-license="#{node.license}" data-producers="#{node.producers}" data-view-restricted="#{node.viewRestricted}" class="material-page material-reading-view"/>
            </ui:fragment>  
          </ui:repeat>
        </article>
      </section>
  
      
      <input class="workspaceEntityId" type="hidden" value="#{workspaceMaterialsReadingBackingBean.workspaceEntityId}"/>
      <input class="materialsBaseUrl" type="hidden" value="#{workspaceMaterialsReadingBackingBean.materialsBaseUrl}"/>
    </div>
  </ui:define>

</ui:composition>