<?xml version="1.0" encoding="UTF-8"?>
  <ui:composition xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:jsf="http://xmlns.jcp.org/jsf"
    template="/WEB-INF/templates/deprecated/flex-materials-fullscreen-view.xhtml"> 
    
  <ui:define name="scripts">
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/lodash/4.12.0/lodash.min.js"></script>
    <script defer="defer" type="text/javascript" src="#{request.contextPath}/JavaScriptLocales?lang=#{sessionBackingBean.locale}"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/locales.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/dustjs-linkedin/2.7.1/dust-full.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/dustjs-helpers/1.7.1/dust-helpers.min.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/dustloader.js"/> 
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace.js"/>  
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-signup-dialog.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.jquery.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery.license-selector/0.0.8/jquery.license-selector.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jshash/2.2/md5-min.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/coopsck/coopsck.js" />
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/diffxml-js/1.3.0/diffxml-js.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-material-editor-html.js" />
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/lodash/4.12.0/lodash.min.js"></script>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-material-upload.js" />
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/workspace-materials-management.js" />
    <ui:include src="workspace-material-scripts.xhtml"/>
  </ui:define>
  
  <ui:define name="styles">
    <link rel="stylesheet" type="text/css" href="/css/deprecated/flex/workspace-materials-management.css"/>  
    <link rel="StyleSheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.1/magnific-popup.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.min.css"/>
  </ui:define>

  <ui:define name="grid-content">
  
    <div id="workspaceMaterialsManagementTOCWrapper">
      <nav class="workspace-waterials-management-nav" id="workspaceMaterialsManagementNav">
        <div class="widget wi-workspace-materials-full-screen-navi-button-toc">
          <span class="icon-navicon w-tooltip" title="Sisällysluettelo">
            <span class="workspace-materials-full-screen-tt-container-toc">Sisällysluettelo</span>
          </span>
        </div>
        <div class="widget wi-workspace-materials-full-screen-navi-button-goback">
          <h:link styleClass="icon-goback w-tooltip" title="Palaa takaisin" outcome="/jsf/workspace/materials.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
            <span class="workspace-materials-full-screen-tt-container-goback">Palaa takaisin</span>
          </h:link>
        </div>
        <div class="widget wi-workspace-materials-full-screen-navi-button-to-reading">
          <h:link styleClass="icon-to-reading w-tooltip" title="Siirry lukutilaan" outcome="/jsf/workspace/materials-reading.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
            <span class="workspace-materials-full-screen-tt-container-to-reading">Siirry lukutilaan</span>
          </h:link>
        </div>
      </nav>
    
      <div id="workspaceMaterialsManagementTOCContainer">
        <div class="workspace-materials-management-TOC-title">
          <h1>#{i18n.text['plugin.workspace.materialsManagement.tocTitle']}</h1>
        </div>
        <div class="workspace-materials-toc-content-scrolling" id="materialsScrollableTOC">
          <div class="workspace-materials-toc-root">
            <ui:repeat var="node" value="#{workspaceMaterialsManagementBackingBean.contentNodes}">
              <ui:fragment rendered="#{node.type eq 'folder'}">
                <ul class="workspace-materials-toc-section" data-workspace-node-id="#{node.workspaceMaterialId}">
                  <li class="workspace-materials-toc-subtitle #{node.hidden ? 'item-hidden' : ''}">
                    <h:outputLink value="#page-#{node.workspaceMaterialId}">#{node.title}</h:outputLink>
                    <span class="workspace-materials-toc-sectionDragHandle icon-move"></span>
                    <ui:fragment rendered="#{node.viewRestrict eq 'LOGGED_IN'}">
                      <span class="icon-closed-material item-view-restricted"></span>
                    </ui:fragment>
                  </li>
    
                  <ui:repeat var="articleNode" value="#{node.children}">
                    <ui:fragment rendered="#{articleNode.type eq 'folder'}">
                      <li class="workspace-materials-toc-subtitle #{articleNode.hidden ? 'item-hidden' : ''} #{node.hidden ? 'parent-hidden' : ''}">
                        <h:outputLink value="#page-#{node.workspaceMaterialId}">#{articleNode.title}</h:outputLink>
                        <ui:fragment rendered="#{node.viewRestrict eq 'LOGGED_IN'}">
                          <span class="icon-closed-material item-view-restricted"></span>
                        </ui:fragment>
                      </li>
                    </ui:fragment>
                    <ui:fragment rendered="#{articleNode.type ne 'folder'}">
                      <li class="workspace-materials-toc-item #{articleNode.hidden ? 'item-hidden' : ''} #{node.hidden ? 'parent-hidden' : ''}" data-workspace-node-id="#{articleNode.workspaceMaterialId}">
                        <h:outputLink value="#page-#{articleNode.workspaceMaterialId}" class="#{articleNode.assignmentType eq 'EVALUATED' ? 'assignment' : articleNode.assignmentType eq 'EXERCISE' ? 'exercise' : ''}">#{articleNode.title}</h:outputLink>
                        <span class="workspace-materials-toc-itemDragHandle icon-move"></span>
                        <ui:fragment rendered="#{articleNode.viewRestrict eq 'LOGGED_IN'}">
                          <span class="icon-closed-material item-view-restricted"></span>
                        </ui:fragment>
                      </li>
                    </ui:fragment>
                  </ui:repeat>
                </ul>
              </ui:fragment>
              <ui:fragment rendered="#{node.type ne 'folder'}">
                <ul class="workspace-materials-toc-section temporary-toc-fix">
                  <li class="workspace-materials-toc-item #{node.hidden ? 'item-hidden' : ''}" data-workspace-node-id="#{node.workspaceMaterialId}"><h:outputLink value="#page-#{node.workspaceMaterialId}" class="#{node.assignmentType eq 'EVALUATED' ? 'assignment' : node.assignmentType eq 'EXERCISE' ? 'exercise' : ''}">#{node.title}</h:outputLink>
                    <span class="workspace-materials-toc-itemDragHandle icon-move"></span>
                  </li>
                </ul>
              </ui:fragment>
            </ui:repeat>
          </div>
        </div>
      </div>
    </div>
  
  
    <div id="contentWorkspaceMaterialsManagement" class="flex-row">
    
      <form style="display: none;">
        <input type="hidden" name="max-file-size" value="#{workspaceMaterialsBackingBean.maxFileSize}" />
      </form>
  
      <div class="workspace-materials-management-add lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">
        <span class="workspace-materials-management-line-separator"></span><a class="workspaces-materials-management-add icon-add" href="javascript:void(null)"><span>#{i18n.text['plugin.workspace.materialsManagement.add']}</span></a>
      </div>
      <ui:repeat var="node" value="#{workspaceMaterialsManagementBackingBean.contentNodes}">
        <ui:fragment rendered="#{node.type eq 'folder'}">
          <section id="page-#{node.workspaceMaterialId}"
            data-workspace-material-id="#{node.workspaceMaterialId}"
            data-material-id="#{node.materialId}"
            data-parent-id="#{node.parentId}" data-material-type="#{node.type}"
            data-material-title="#{node.title}"
            data-path="#{node.path}"
            data-view-restrict="#{node.viewRestrict}"
            class="lg-flex-cell-full md-flex-cell-full sm-flex-cell-full material-page material-management-view folder #{node.hidden ? 'item-hidden' : ''}"></section>
  
          <div class="workspace-materials-management-add lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">
            <span class="workspace-materials-management-line-separator"></span><a  class="workspaces-materials-management-add icon-add" href="javascript:void(null)"><span>#{i18n.text['plugin.workspace.materialsManagement.add']}</span></a>
          </div>
          <ui:repeat var="articleNode" value="#{node.children}">
            <ui:fragment rendered="#{articleNode.type eq 'folder'}">
              <h2 id="page-#{articleNode.workspaceMaterialId}"
                data-workspace-material-id="#{articleNode.workspaceMaterialId}"
                data-material-id="#{articleNode.materialId}"
                data-parent-id="#{articleNode.parentId}"
                data-material-type="#{articleNode.type}"
                data-material-title="#{articleNode.title}"
                data-path="#{articleNode.path}"
                data-view-restrict="#{articleNode.viewRestrict}"
                class="lg-flex-cell-full md-flex-cell-full sm-flex-cell-full material-page material-management-view folder #{articleNode.hidden ? 'item-hidden' : ''} #{node.hidden ? 'parent-hidden' : ''}"></h2>
            </ui:fragment>
  
            <ui:fragment rendered="#{articleNode.type ne 'folder'}">
              <section id="page-#{articleNode.workspaceMaterialId}"
                data-workspace-material-id="#{articleNode.workspaceMaterialId}"
                data-material-id="#{articleNode.materialId}"
                data-parent-id="#{articleNode.parentId}"
                data-material-type="#{articleNode.type}"
                data-material-title="#{articleNode.title}"
                data-path="#{articleNode.path}"
                data-material-content="#{articleNode.html}"
                data-material-current-revision="#{articleNode.currentRevision}"
                data-material-published-revision="#{articleNode.publishedRevision}"
                data-assignment-type="#{articleNode.assignmentType}"
                data-correct-answers="#{articleNode.correctAnswers eq null ? 'ALWAYS' : articleNode.correctAnswers}"
                data-view-restrict="#{articleNode.viewRestrict}"
                class="lg-flex-cell-full md-flex-cell-full sm-flex-cell-full material-page material-management-view #{articleNode.hidden ? 'item-hidden' : ''} #{node.hidden ? 'parent-hidden' : ''}" />
            </ui:fragment>
  
            <div class="workspace-materials-management-add lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">
              <span class="workspace-materials-management-line-separator"></span><a  class="workspaces-materials-management-add icon-add" href="javascript:void(null)"><span>#{i18n.text['plugin.workspace.materialsManagement.add']}</span></a>
            </div>
          </ui:repeat>
        </ui:fragment>
  
        <ui:fragment rendered="#{node.type ne 'folder'}">
          <section id="page-#{node.workspaceMaterialId}"
            data-workspace-material-id="#{node.workspaceMaterialId}"
            data-material-id="#{node.materialId}"
            data-parent-id="#{node.parentId}" data-material-type="#{node.type}"
            data-material-title="#{node.title}"
            data-path="#{node.path}"
            data-material-content="#{node.html}"
            data-material-current-revision="#{node.currentRevision}"
            data-material-published-revision="#{node.publishedRevision}"
            data-assignment-type="#{node.assignmentType}"
            data-correct-answers="#{articleNode.correctAnswers eq null ? 'ALWAYS' : articleNode.correctAnswers}"
            data-view-restrict="#{articleNode.viewRestrict}"
            class="lg-flex-cell-full md-flex-cell-full sm-flex-cell-full material-page material-management-view #{node.hidden ? 'item-hidden' : ''}" />
          <div class="workspace-materials-management-add lg-flex-cell-full md-flex-cell-full sm-flex-cell-full">
            <span class="workspace-materials-management-line-separator"></span><a class="workspaces-materials-management-add icon-add" href="javascript:void(null)"><span>#{i18n.text['plugin.workspace.materialsManagement.add']}</span></a>
          </div>
        </ui:fragment>
      </ui:repeat>
  
      <input class="workspaceEntityId" type="hidden" value="#{workspaceMaterialsManagementBackingBean.workspaceEntityId}" />
      <input class="materialsBaseUrl" type="hidden" value="#{workspaceMaterialsManagementBackingBean.materialsBaseUrl}" />
      <input class="workspaceRootFolderId" type="hidden" value="#{workspaceMaterialsManagementBackingBean.rootFolder.id}" />
    </div>
  </ui:define>

</ui:composition>
