<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:jsf="http://xmlns.jcp.org/jsf">

    <!-- Disable CKEditor auto inline functionality (contenteditable=true tags not automatically turned into ckeditor fields) -->
    <!-- Do not defer or CKEditor will not initialize using the setting -->
    <script type="text/javascript" src="//cdn.muikkuverkko.fi/libs/ckeditor/4.5.9/ckeditor.js"/>
    <script type="text/javascript">
      CKEDITOR.disableAutoInline = true;
    </script>

    <script defer="defer" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.5/jquery.lazyload.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.1/jquery.magnific-popup.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/jquery.fileupload.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery.auto-grow-input/1.0.3/jquery.auto-grow-input.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/autosize/3.0.15/autosize.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_SVG"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/modernizr/3.3.1-webrtc/modernizr.min.js"></script>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/gumadapter/1.0.0/gumadapter.js"></script>
    <script defer="defer" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/RecordRTC/5.5.8/RecordRTC.min.js"></script>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/waypoints/4.0.1/lib/jquery.waypoints.min.js"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/lodash/4.12.0/lodash.min.js"></script>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-audio-field.js" />
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/lazypdf.js" />
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/lazyswf.js" />
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/lazyframe.js" />
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/audiorecord.js"/> 
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/connectionlostnotifier.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-file-field-component.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-connect-field-component.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-rich-memo-field-component.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-sorter-component.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-math-exercise-component.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-image-details.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-word-definition.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-explanation-widget.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/article-details.js"/>
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-field.js"/> 
    <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/muikku-material-loader.js"/> 
    
    <!-- Digabi math exercise -->
    <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/libs/digabi-math-editor/3.4.1/mathquill.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/libs/digabi-math-editor/3.4.1/rich-text-editor.css"/>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/digabi-math-editor/3.4.1/Bacon.min.js"></script>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/digabi-math-editor/3.4.1/mathquill.min.js"></script>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/digabi-math-editor/3.4.1/digabi-rich-text-editor.js"/> 
  
</ui:composition>




