@import "../../node_modules/sass-autoprefixer/scss/prefixes";
	
@mixin prefix($property, $prefixes, $values...) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $values;
  }

  #{$property}: $values;
}

@mixin text {
  color: $color-text-default;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

@mixin panel-body {
  background-color: $color-panel-background-color;
  box-shadow: 0 2px 3px $color-panel-shadow;
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-pad) {
    border: solid 1px $color-panel-border;
    box-shadow: none;
  }
}
