<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:m="http://www.ofw.fi/xml/2013/muikku/components-taglib.xsd"
  xmlns:h="http://java.sun.com/jsf/html" 
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets">


  <f:view>
    <h:head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      
      <!-- CSS to remove all default styles -->
      <h:outputStylesheet library="#{sessionBackingBean.resourceLibrary}" name="css/deprecated/vars_view.css" />
      
      
      <!--  Icon Font -->
      <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/assets/muikku-icons/1.2.2/style.css"/>      
      <link rel="stylesheet" type="text/css" href="/css/deprecated/flex/vars_view.css"/>
      
      
      <!-- Flex Grid -->
      <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/libs/fni-flexgrid/1.0.0/flexgrid.css "/>
    </h:head>
  
    <h:body>
     <div class="vars-view-container">
      <div class="vars-view-row"><span>$body-font-color</span></div>
      <div class="vars-view-row">
        <div class="vars-view-cell">
          <div class="environment-language-selection" title="Language selection">
            <div class="language">Lang</div>
            <div class="language active">Lang active</div>
          </div>
        </div>
        <div class="vars-view-cell">
          <div class="environment-sign-in" title="environment-sign-in">
            <span>$environment-sign-in-link-color</span>
          </div>
        </div>
        <div class="vars-view-cell">
          <div class="environment-logged-in"
            title="environment-logged-in">
            <span>$environment-sign-in-link-color</span>
          </div>
        </div>
        <div class="vars-view-cell">
          <div class="environment-static-navigation icon-home" title="">
            <span></span>
          </div>
          <div class="environment-static-navigation active icon-home" title="">
            <span></span>
          </div>
          <div class="environment-static-navigation" title="">
            <div class="notifier">1</div>
          </div>
        </div>
        <div class="vars-view-cell dark">
          <div class="environment-icon icon-home" title="">
            <span></span>
          </div>
        </div>
      </div>
      <div class="vars-view-row environment">       
        <div class="vars-view-cell transparent">       
          <div class="" title="">
            <h1>Otsikko</h1>
            <h2>Otsikko</h2>
            <h3>Otsikko</h3>
            <h4>Otsikko</h4>
            <h5>Otsikko</h5>
            <h6>Otsikko</h6>                                                    
          </div>       
        </div>  
        <div class="vars-view-cell dark">       
          <div title="">
            <div class="box link">$environment-link-color</div>
            <div class="box alt">$environment-alt-font-color</div>
            <div class="box page-title">$environment-page-title-font-color</div>
          </div>           
        </div>  
        <div class="vars-view-cell transparent">       
          <div title="">
            <div class="box border">$environment-border-color</div>
            <div class="box border-selected">$environment-border-selected-color</div>
            <div class="box border-highlight">$environment-border-highlight-color</div>             
          </div>                 
        </div> 
        <div class="vars-view-cell transparent">       
            <div class="box button-container" title="$environment-button-container-background-color">
              <div class="button">$environment-button-font-color</div>
              <div class="button disabled">$environment-button-disabled-font-color</div>
              <div class="button-dropdown">$environment-button-font-color</div>             
            </div>                 
        </div> 
      </div>
      <div class="vars-view-row environment">
        <div class="vars-view-cell transparent">
          <div class="menu" title="">
            <div class="item">
              <span>$environment-menu-font-color</span>
            </div>
            <div class="item active">
              <span>$environment-menu-item-active-font-color</span>
            </div>
          </div>
        </div>
        <div class="vars-view-cell transparent">
          <div class="content-container" title="">
            <h4>$environment-content-container-background-color</h4>
            <div class="content">
              <div class="navigation-container">
                <h4>$environment-navigation-container-background-color</h4>
                <div class="navigation">$environment-navigation-content-navigation-background-color</div>
              </div>
            </div>
            <div class="vars-view-subrow">
              <div class="paging">$environment-paging-tool-font-color</div>
              <div class="paging disabled">$environment-paging-tool-font-color</div>
            </div>
          </div>
        </div>
      </div>
      <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">       
            <div class="header" title="">
              <div>$environment-header-background-color</div>            
              <div class="title">$environment-subtitle-font-color</div>
              <div class="subtitle">$environment-items-title-font-color</div>                  
            </div>       
          </div>  
          <div class="vars-view-cell transparent">       
            <div>$environment-widget-overlay-background-color</div>
            <div class="widget-overlay" title="">
            </div>       
          </div> 
        </div>                  
        <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">      
            <div class="settings" title="">
              <div class="vars-view-subrow">
                <div class="icon icon-settings"></div>            
                <div class="icon active icon-settings"></div>
              </div>
              <div>
                <div class="settings-subtitle">$environment-settings-subtitle-background-color</div>
                <div class="settings-signature">$environment-setting-signature-background-color</div>
              </div>  
            </div>                 
          </div>  
          <div class="vars-view-cell transparent">       
            <div class="profile" title="">
              <div>$environment-profile-background-color</div>
              <div class="picture">PIC</div>
              <div class="section">$environment-profile-section-font-color</div>
              <div class="button">$environment-profile-button-font-color</div>
            </div>       
          </div> 
          <div class="vars-view-cell transparent">    
            <div>  
              <div class="file" title="">
                $environment-file-background-color
              </div>    
              <div class="shadow">
                 $environment-box-shadow            
              </div>      
            </div>       
          </div>           
        </div>   
   
        <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">    
            <div class="bottom-bar">  
              <div>
                <div title="">$environment-bottom-bar-font-color</div>    
                <div class="link">$environment-bottom-bar-link-color</div>      
              </div>
              <div class="forms">
                <div class="autocomplete">$form-autocomplete-hover-font-color</div>
                <div class="form-header">$form-header-font-color</div>
                <div class="form-element-title">$form-element-title-font-color</div>
                <div class="form-textfield">$form-textfield-font-color</div>
                <div class="form-textfield focus">$form-textfield-focus-background-color</div>
                <div class="form-textfield hover">$form-textfield-hover-background-color</div>
                <div class="form-textfield">
                  <div class="subcontainer">$form-textfield-subcontainer-background-color</div>
                </div>
              <div class="vars-view-subrow">
                <div class="button send">$form-button-font-color</div>
                <div class="button cancel">$form-button-font-color</div>
              </div>                
              </div>

            </div>       
          </div>     
          <div class="vars-view-cell transparent">
            <div class="item">
              <div class="item-header icon box icon-home"><span>$item-header-icon-font-color</span></div>
              <div class="target-icon icon box icon-home"><span>$item-target-icon-color</span></div>            
              <div class="state icon locked-icon icon-lock box"><span>$item-state-locked-icon-color</span></div>   
              <div class="state icon pinned-icon icon-pin box"><span>$item-state-pinned-icon-color</span></div>   
            </div>
          </div>  
        </div>
        <div class="vars-view-row environment">        
          <div class="vars-view-cell transparent">    
            <div class="item">  
              <div>$item-background-color</div>
              <div class="active box">$item-background-active-color</div>
              <div class="highlight box">$item-background-highlight-color</div>
              <div class="markup-border-1 box">$item-markup-border-color-1</div>
              <div class="markup-border-2 box">$item-markup-border-color-2</div>
              <div class="markup-border-3 box">$item-markup-border-color-3</div>              
              <div class="item-shadow box dark"> $item-shadow</div>       
              <div class="tool box">
                <div class="">$item-tool-font-color</div>
                <div class="button box">$item-tool-font-color</div>   
                <div class="button wizard box">$item-tool-button-wizard-background-color</div>
                <div class="button goto box"> $item-tool-button-goto-background-color</div>
                <div class="link box">$item-tool-link-font-color</div>                                
              </div>            
              <div class="label box">$item-label-font-color</div>                
            </div>
          </div>
          <div class="vars-view-cell transparent">
            <div class="item">      
              <div class="item-header hidden box">$item-header-hidden-font-color</div>
              <div class="item-header secondary box">$item-header-secondary-font-color</div>
              <div class="state box">$item-state-info-font-color</div> 
              <div class="item-header label box">$item-header-label-background-color</div>                                                                   
              <div class="description box">$item-description-font-color</div>   
              <div class="title box">$item-title-background-color</div>   
              <div class="grade passing box">8</div>              
              <div class="grade failing box">4</div>
              <div class="button box add">$item-button-add-background-color</div>
              <div class="tool hover box">$item-tool-font-hover-color</div>              
            </div>
          </div>   
        </div>   
        <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">
            <div class="navigation-vertical box">
              <div class="box">$navigation-vertical-bar-background-color</div>
              <div class="active box">$navigation-vertical-bar-active-background-color</div>
              <div class="hover box">$navigation-vertical-bar-hover-border-color</div>
              <div class="icon box icon-home"><span>$navigation-vertical-bar-icon-color</span></div>                            
            </div>
          </div>
          <div class="vars-view-cell transparent">
            <div class="navigation-vertical box">            
              <div class="empty box">$navigation-vertical-bar-empty-font-color</div>
              <div class="selected box">$navigation-vertical-bar-selected-background-color</div>
              <div class="decoration-icon icon icon-home box"><span>$navigation-vertical-bar-deco-icon-color</span></div>    
              <div class="decoration-icon icon icon-home active box"><span>$navigation-vertical-bar-deco-active-icon-color</span></div>
              <div class="sub-header box">$navigation-vertical-bar-sub-header-background-color</div>  
            </div>                                                                      
          </div>          
        </div>              
        <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">
            <div class="navigation-horizontal vars-view-subrow">
              <div class="navigate icon box icon-arrow-left-thin"></div>
              <div class="button active circle icon icon-navicon"></div>
              <div class="button hover circle icon icon-navicon"></div> 
              <div class="disabled circle icon icon-navicon"></div>      
            </div>
          </div>
          <div class="vars-view-cell transparent">
            <div class="navigation-horizontal vars-view-subrow box">
              <div class="special-container">
                <div class="special circle icon icon-navicon" ></div>
                <div class="menu">
                  <div class="input">TextInput</div>
                  <div class="link"> $navigation-horizontal-bar-special-menu-link-font-color</div>
                  <div>$navigation-horizontal-bar-special-menu-link-font-color</div>
                  <div>$navigation-horizontal-bar-special-menu-link-font-color</div>                                    
                  <div class="hover">$navigation-horizontal-bar-special-menu-link-font-color</div>
                  <div class="active">$navigation-horizontal-bar-special-menu-link-font-color</div>
                </div>
              </div>
            </div>                                                                      
          </div>          
        </div>
        <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">
            <div>Category-colors</div>
            <div class="categories vars-view-subrow">
               <div class="cat-1 box" title="$category-color-1"></div>
               <div class="cat-2 box" title="$category-color-2"></div>
               <div class="cat-3 box" title="$category-color-3"></div>
               <div class="cat-4 box" title="$category-color-4"></div>
               <div class="cat-5 box" title="$category-color-5"></div>
               <div class="cat-6 box" title="$category-color-6"></div>
               <div class="cat-7 box" title="$category-color-7"></div>
               <div class="cat-8 box" title="$category-color-8"></div>
               <div class="cat-9 box" title="$category-color-9"></div>
               <div class="cat-10 box" title="$category-color-10"></div>
               <div class="cat-11 box" title="$category-color-11"></div>
            </div>
          </div>
        </div>
        <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">
            <div class="content-navigations">
              <div class="content-menu box">$content-navigation-menu-shadow <br/> $content-navigation-menu-border-color-1</div>    
              <div class="content-menu highlight box">$content-navigation-menu-highlight-background-color</div>
              <div class="content-menu action box">$content-navigation-action-font-color <br/>$content-navigation-action-remove-background-color</div>
            </div>
          </div>        

          <div class="vars-view-cell transparent">
            <div>
              <div class="search box icon-search">
                <span>$search-icon-color</span>
              </div>          
              <div class="search-result box">
                $search-result-font-color            
              </div> 
              <div class="user-picture dark">
                $user-picture-font-color;
              </div>
            </div>
          </div>     
          <div class="vars-view-cell transparent">
            <div>
              <div class="target box">
                <span>$target-font-color</span>
              </div>          
              <div class="target remove-font box">
                <span>$target-remove-font-color</span>
              </div>  
              <div class="target user box">
                $target-user-color            
              </div> 
              <div class="target workspace box">
                $target-workspace-color
              </div>
              <div class="target group box">
                $target-group-color
              </div>
              <div class="target remove box">
                $target-remove-color                
              </div>
            </div>
          </div>                     
        </div>     
        <div class="vars-view-row environment"> 
          <div class="vars-view-cell transparent">
            <div class="evaluation">
              <div class="passed box">
                <span>$evaluation-passed-color</span>
              </div>          
              <div class="failed box">
                <span>$evaluation-failed-color</span>
              </div>  
              <div class="incomplete box">
                $evaluation-incomplete-color           
              </div> 
              <div class="requested box">
                $evaluation-requested-color
              </div>
              <div class="archive box">
                $evaluation-archive-color
              </div>
              <div class="delete box">
                $evaluation-delete-color                
              </div>
              <div class="cancel box">
                $evaluation-cancel-color                
              </div>
            </div>
          </div>                        
          <div class="vars-view-cell transparent">
            <div class="evaluation">
              <div class="box">$evaluation-background-color</div>
              <div class="view box">$evaluation-view-background-color</div>
              <div class="passed-shadow box">$evaluation-passed-boxshadow-color</div>
              <div class="failed-shadow box">$evaluation-failed-boxshadow-color</div>
              <div class="incomplete-shadow box">$evaluation-incomplete-boxshadow-color</div>
              <div class="requested-shadow box">$evaluation-requested-boxshadow-color</div>
            </div>
          </div>            
          <div class="vars-view-cell transparent">
            <div class="evaluation">
              <div class="navigation">
                <div class="box">$evaluation-navigation-background-color </div>
                <div class="shadow-color box">$evaluation-navigation-boxshadow-color</div>
                <div class="evaluation-item-font box">$evaluation-navigation-item-font-color</div>
                <div class="evaluation-item-text-shadow box">$evaluation-navigation-item-textshadow-color</div>
              </div>
              <div class="filter box">
                $evaluation-filter-wrapper-background-color               
              </div>
              <div class="filter shadow box">
                $evaluation-filter-wrapper-background-boxshadow-color               
              </div>
            </div>
          </div>             
          <div class="vars-view-cell transparent">
            <div class="evaluation">
              <div class="sorting">
                <div class="active box">$evaluation-sorting-item-nonactive-background-color<br/>$evaluation-sorting-item-nonactive-font-color</div>
                <div class="inactive box">$evaluation-sorting-item-active-background-color<br/>$evaluation-sorting-item-active-font-color </div>
              </div>
              <div class="welldone box">
                $evaluation-welldone-font-color               
              </div>

            </div>
          </div>                     
        </div>          
        <div class="vars-view-row environment">
          <div class="vars-view-cell transparent">
            <div class="evaluation">
              <div class="cards">
                <div class="card box">
                  $evaluation-card-background-color<br/>
                  $evaluation-card-border-color                  
                </div>
                <div class="card title box">
                  $evaluation-card-title-background <br/>
                </div>                
                <div class="card assignment-status done box">
                  $evaluation-card-assignment-status-font-color <br/> $evaluation-card-assignment-status-done-background-color
                </div>                
                <div class="card assignment-status undone box">
                  $evaluation-card-assignment-status-font-color <br/> $evaluation-card-assignment-status-notdone-background-color
                </div>                
                <div class="star box"></div>
                <div class="star important box">$evaluation-important-star-font-color</div>
                <div class="star important active box">$evaluation-important-star-active-font-color<br/>$evaluation-important-star-active-background-color</div>              
                <div class="star unimportant box">$evaluation-unimportant-star-font-color</div>
                <div class="star unimportant active box">$evaluation-unimportant-star-active-font-color<br/>$evaluation-unimportant-star-active-background-color</div>
                <div class="button"></div>
              </div>    
            </div>      
          </div>      
          <div class="vars-view-cell transparent">
            <div class="evaluation">

              <div class="modal">
                <div class="box">$evaluation-modal-background-color</div>
                <div class="close box dark">$evaluation-modal-close-font-color</div>
                <div class="close box text-shadow">$evaluation-modal-close-textshadow-color
                </div>
                <div class="assignment-close box">
                  $evaluation-modal-assignment-close-font-color <br/> $evaluation-modal-assignment-close-border-color
                </div>
                <div class="assignment-close box text-shadow">
                  $evaluation-modal-assignment-close-textshadow-color
                </div>   
                <div class="header box">
                  $evaluation-modal-header-background-color<br />$evaluation-modal-header-font-color
                </div>      
                <div class="box modal-text-editor">$evaluation-modal-texteditor-border-color</div>       
                <div class="box modal-textfield">$evaluation-modal-textfield-background-color<br />$evaluation-modal-textfield-border-color</div>
                <div class="box modal-memofield">evaluation-modal-memofield-background-color <br /> $evaluation-modal-memofield-border-color</div>
                <div class="box modal-select">$evaluation-modal-select-background-color <br/> $evaluation-modal-select-border-color</div>
                <div class="box modal-button dark">$evaluation-modal-button-font-color</div>                              
              </div>            
            </div>            
          </div>                        
          <div class="vars-view-cell transparent">
            <div class="evaluation">
              <div class="modal">
                <div class="modal-assignment-evaluation box">
                  <div class="box">$evaluation-modal-background-color</div>
                  <div class="modal-assignment-header box">$evaluation-modal-assignment-evaluation-header-background-color</div>                 
                </div>
                <div class="modal-separator box">$evaluation-modal-seperator-border-color</div>
                <div class="modal-evaluate-button box dark">$evaluation-modal-assignment-evaluate-button-font-color</div>
                <div class="modal-assignment-evaluated box">
                  <div class="grade-info box">$evaluation-modal-assignment-evaluated-grade-info-background-color</div>
                  <div class="literal box">$evaluation-modal-assignment-evaluated-literal-background-color</div>     
               </div>           
                <div class="modal-assignment-evaluated incomplete box">
                  $evaluation-modal-assignment-evaluated-incomplete-font-color
               </div>                        
              </div>            
            </div>
          </div>   
        </div>         
      </div>  
    </h:body>
  </f:view>
</html>