<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:jsf="http://xmlns.jcp.org/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- Base takes no parameters -->
<!-- Base takes four defines, styles, scripts, body and title, where title is not required -->

<f:view locale="#{sessionBackingBean.locale}">

<head>
  <title>#{empty title ? i18n.text['plugin.site.title'] : title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" name="viewport" />
  <script type="text/javascript">
    var CONTEXTPATH = "#{request.contextPath}";
    var MUIKKU_LOGGED_USER_ID = parseInt('#{sessionBackingBean.loggedUserId}')||null;
    var MUIKKU_LOGGED_USER = '#{sessionBackingBean.loggedUser}'||null;
    var MUIKKU_LOGGEDIN = #{sessionBackingBean.loggedIn};
    var MUIKKU_IS_ACTIVE_USER = #{sessionBackingBean.isActiveUser};
    var MUIKKU_IS_STUDENT = #{sessionBackingBean.isStudent};
    var PROFILE_DATA = {
      displayName: '#{sessionBackingBean.displayName}' || null,
      emails: #{sessionBackingBean.emails},
      addresses: #{sessionBackingBean.addresses},
      phoneNumbers: #{sessionBackingBean.phoneNumbers},
      studyTimeLeftStr: '#{sessionBackingBean.studyTimeLeftStr}'  || null,
      studyStartDate: '#{sessionBackingBean.studyStartDate}'  || null,
      studyEndDate: '#{sessionBackingBean.studyEndDate}' || null,
      studyTimeEnd: '#{sessionBackingBean.studyTimeEnd}' || null
    }
    var HOPS_ENABLED = #{sessionBackingBean.getUserPropertyAsBoolean('hops.enabled')};

    var MUIKKU_PERMISSIONS = {
      FORUM_ACCESSENVIRONMENTFORUM: #{sessionBackingBean.canAccessEnvironmentForum},
      GUIDER_VIEW: #{sessionBackingBean.hasEnvironmentPermission('GUIDER_VIEW')},
      TRANSCRIPT_OF_RECORDS_VIEW: #{sessionBackingBean.hasEnvironmentPermission('TRANSCRIPT_OF_RECORDS_VIEW')},
      EVALUATION_VIEW_INDEX: #{sessionBackingBean.hasEnvironmentPermission('EVALUATION_VIEW_INDEX')},
      ANNOUNCER_TOOL: #{sessionBackingBean.hasEnvironmentPermission('ANNOUNCER_TOOL')},
      ANNOUNCER_CAN_PUBLISH_ENVIRONMENT: #{sessionBackingBean.hasEnvironmentPermission('CREATE_ANNOUNCEMENT')},
      ANNOUNCER_CAN_PUBLISH_WORKSPACES: true,
      ANNOUNCER_CAN_PUBLISH_GROUPS: #{sessionBackingBean.hasEnvironmentPermission('CREATE_ANNOUNCEMENT')},

      COMMUNICATOR_GROUP_MESSAGING: #{sessionBackingBean.hasEnvironmentPermission('COMMUNICATOR_GROUP_MESSAGING')},
      COMMUNICATOR_WORKSPACE_MESSAGING: #{sessionBackingBean.hasEnvironmentPermission('COMMUNICATOR_WORKSPACE_MESSAGING')},

      AREA_PERMISSIONS: #{sessionBackingBean.areaPermissions},
      FORUM_LOCK_STICKY_PERMISSION: #{sessionBackingBean.hasEnvironmentPermission('FORUM_LOCK_OR_STICKIFY_MESSAGES')},
      FORUM_SHOW_FULL_NAME_PERMISSION: #{sessionBackingBean.hasEnvironmentPermission('FORUM_SHOW_FULL_NAMES')},
      FORUM_CREATEENVIRONMENTFORUM: #{sessionBackingBean.hasEnvironmentPermission('FORUM_CREATEENVIRONMENTFORUM')},
      FORUM_UPDATEENVIRONMENTFORUM: #{sessionBackingBean.hasEnvironmentPermission('FORUM_UPDATEENVIRONMENTFORUM')},
      FORUM_DELETEENVIRONMENTFORUM: #{sessionBackingBean.hasEnvironmentPermission('FORUM_DELETEENVIRONMENTFORUM')}
    }
  </script>

  <ui:fragment rendered="#{sessionBackingBean.bugsnagEnabled}">
    <script defer="defer" type="text/javascript"
      src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
      data-apikey="#{sessionBackingBean.bugsnagApiKey}"></script>
  </ui:fragment>

  <!-- jQuery -->
  <script type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery/2.1.3/jquery.min.js" />

  <!-- jQuery UI -->
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jqueryui/1.11.2/jquery-ui.min.js" />
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jqueryui/1.11.2/i18n/datepicker-fi.js" />

  <script defer="defer" type="text/javascript">
    $(document).ready(function () {
      $.datepicker.setDefaults($.datepicker.regional['#{sessionBackingBean.locale}']);
    });
  </script>

  <ui:fragment rendered="#{sessionBackingBean.testsRunning}">
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery-simulate/1.0.1/jquery.simulate.js"></script>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery-simulate-ext/1.3.0/jquery.simulate.ext.js"></script>
    <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery-simulate-ext/1.3.0/jquery.simulate.drag-n-drop.js"></script>
  </ui:fragment>

  <script defer="defer" type="text/javascript" jsf:name="/scripts/debug.js" jsf:rendered="#{sessionBackingBean.testsRunning}" />

  <!-- Moment -->
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/moment/2.10.6/moment-with-locales.min.js" />

  <!-- Interactions -->
  <script defer="defer" type="text/javascript" jsf:name="/scripts/extensions.js" />

  <!-- Api resources -->
  <script defer="defer" type="text/javascript" src="#{request.contextPath}/rest/meta/resources?format=js"></script>

  <!-- Async -->
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/async/0.9.0/async.js" />

  <!-- ObjectPath, jQuery REST -->
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/objectpathjs/0.0.1/interpreter.js"></script>
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/objectpathjs/0.0.1/parse.js"></script>
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/objectpathjs/0.0.1/tokens.js"></script>
  <script defer="defer" type="text/javascript" src="//cdn.muikkuverkko.fi/libs/jquery.rest/1.0.2/jquery.rest.min.js"></script>

  <!-- Api -->
  <script defer="defer" type="text/javascript" jsf:name="/scripts/api/api.js" />

  <!-- Heartbeat -->
  <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/heartbeat.js" />

  <!-- Language -->
  <script defer="defer" type="text/javascript" jsf:name="/scripts/gui/language.js" />

  <!-- JavaScript locales -->
  <script defer="defer" type="text/javascript" src="#{request.contextPath}/JavaScriptLocales?lang=#{sessionBackingBean.locale}" />

  <!-- locales -->
  <script defer="defer" jsf:name="scripts/gui/locales.js" />

  <!-- Flex Grid, DEPRECATED -->
  <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/libs/fni-flexgrid/1.0.0/flexgrid.css" />

  <!-- Converse if required -->
  <ui:fragment rendered="#{sessionBackingBean.loggedIn}">
<!--     <script defer="defer" jsf:name="scripts/gui/chat.js" /> -->
<!--     <script defer="defer" src="//cdn.muikkuverkko.fi/libs/converse-muikku/1.1.5/converse-no-jquery.min.js"/> -->
<!--     <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/libs/converse-muikku/1.1.5/converse.min.css" /> -->
  </ui:fragment>

  <!-- Muikku icons -->
  <link rel="stylesheet" type="text/css" href="//cdn.muikkuverkko.fi/assets/muikku-icons/1.2.5/style.css" />
  <ui:insert name="styles"></ui:insert>

  <!-- Here goes what a page needs, usually their controllers -->
  <ui:insert name="scripts"></ui:insert>
</head>

<body>
  <div id="app"></div>

  <!-- TODO: please lets find a way to do this with a rest endpoint -->
  <h:form id="language-picker" style="display:none">
    <ui:repeat value="#{i18n.languages}" var="locale">
      <a jsf:action="#{languageWidgetBackingBean.setLanguage(locale)}" data-locale="#{locale}">
        #{i18n.text['plugin.navigation.language.' .concat(locale)]}
      </a>
    </ui:repeat>
  </h:form>
  <h:form style="display:none">
    <a jsf:action="#{logoutWidgetBackingBean.logout}" id="logout"></a>
  </h:form>
  <a id="locale" style="display:none">#{languageWidgetBackingBean.language}</a>
  <a id="login" style="display:none" jsf:outcome="/login.jsf?authSource=loginWidgetBackingBean.credentialessAuthSources[0]"></a>

  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-7407719-33', 'auto');
    ga('send', 'pageview');
  </script>
  <script async="async" src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
</body>

</f:view>
</html>
