@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-list {
  @include text;
  height: 100%;
  width: 100%;
  overflow: visible;

  &::-webkit-scrollbar {
    display: none;
  }
}

.application-list__header-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 14px 0;
  }
}

.application-list__header {
  font-size: 1.125rem;
  font-weight: 400;
}

.application-list__header-title {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1rem;
  font-weight: 600;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.application-list__header-icon {
  color: $color-course-icon;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
  margin-right: 10px;
}

.application-list__header-primary {
  display: flex;
  flex-basis: 0;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 10px 0 0;
  word-wrap: break-word;
}

.application-list__header-primary--highlight {
  font-weight: 600;
}

.application-list__header-helper {
  color: $color-default-helper;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;

  @include breakpoint($breakpoint-pad) {
    flex-basis: auto;
    padding: 0 0 0 15px;
  }
}

.application-list__fee-indicatoricon-coin-euro {
  color: $color-info;
  font-size: 1rem;
  padding: 4px;
}

.application-list__header-secondary {
  align-items: center;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: $text-capitalized-mobile-font-size;
  justify-content: flex-end;
  margin: 0 0 0 15px;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-capitalized-desktop-font-size;
  }
}

// Shit shit shit. This is not really a duplicate, but something about studies. TODO: find out where it belongs and name it accordingly

.application-list__indicator-badge {
  align-items: center;
  border-radius: 2px;
  color: $color-default;
  display: flex;
  font-size: 1rem;
  height: 1.875rem;
  justify-content: center;
  margin: 0 0 0 10px;
  text-align: center;
  width: 1.875rem;

  &.state-PASSED {
    background: $color-grade-passed;
  }

  &.state-FAILED {
    background: $color-grade-failed;
  }

  &.state-INCOMPLETE {
    background: $color-grade-incomplete;
  }

  &.state-NO-ASSESSMENT {
    background: $color-grade-not-assessed;
  }
}

.application-list__indicator-badge--course {
  margin: 0 0 0 10px;
}

.application-list__indicator-badge--course-in-guider {
  font-size: $text-desktop-font-size;
  font-weight: 600;
  height: 1.25rem;
  width: 1.25rem;
}

.application-list__indicator-badge--task {
  margin: 0 10px 0 0;
}

.application-list__indicator-badge--evaluation-request {
  background-color: $color-evaluation-request;
}


.application-list__header-item-date {
  text-align: right;
  width: 5.2rem;
}

.application-list__header-item-dates {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.application-list__header-item-body {
  display: inline-block;
}

.application-list__item-content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
}

.application-list__item {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);
  background-color: $color-application-list-item-background;
  position: relative;

  &.hover,
  &:hover {
  // background-color: $color-application-list-item-background-hover;
  }

  &.active,
  &:active {
  // background-color: $color-application-list-item-background-active;
  }

  &.selected {
    background-color: $color-application-list-item-background-selected;
    .label {
      background-color: $color-label-mobile-selected-background;
    }
    .glyph,
    .link,
    .application-list__header-primary,
    .application-list__header-item-date,
    .application-list__header-item-body {
      color: $color-default;
    }

    .label__text {
      color: $color-default-contrast;
    }

    .text--item-counter {
      color: $color-default-contrast;
    }

    @include breakpoint($breakpoint-pad) {
      background-color: $color-default;

      .label__text,
      .application-list__header-primary,
      .application-list__header-item-date,
      .application-list__header-item-body {
        color: $color-default-contrast;
      }

      .link {
        color: $color-text-link;
      }

      .label {
        background: $color-label-background;
      }

      &.announcement--environment .glyph {
        color: $color-announcement-environment;
      }

      &.announcement--workspace .glyph {
        color: $color-announcement-workspace;
      }
    }
  }
}

.application-list__item--user {
  border-top: 1px solid $color-default-item-separator-border;
  cursor: pointer;
  padding: 10px;

  &:first-child {
    border-color: transparent;
  }
}

.application-list__item--highlight {
  background-color: $color-message-unread-background;

  @include breakpoint($breakpoint-pad) {
    border-top: solid 1px $color-default;
  }

  &.selected {
    background-color: $color-application-list-item-background-selected;

    @include breakpoint($breakpoint-pad) {
      background-color: $color-message-unread-background;
    }
  }
}

.application-list__item-body {
  padding: 0;
}

.application-list-document-short {
  padding: 10px 0 0;
}

.application-list-document-short-header {
  font-weight: 600;
}

.application-list-document {
  line-height: 1.5rem;
  margin: 20px 0 0;
}

.application-list__item-counter-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  @include breakpoint($breakpoint-mobile-xl) {
    justify-content: flex-end;
  }
}

.application-list__item-counter {
  align-items: center;
  background-color: $color-main-function-item-counter-background;
  border-radius: 3px;
  display: flex;
  height: 20px;
  justify-content: center;
  min-width: 20px;
  padding: 0 4px;
}

.application-list__item-counter-title {
  font-size: 0.8125rem;
  padding: 0 3px 0 0;
}

.application-list__item-content-aside {
  display: none;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    appearance: none;
    border: solid 2px $color-main-function-application-list-item-checkbox-border;
    border-radius: 3px;
    display: flex;
    height: 1rem;
    justify-content: center;
    width: 1rem;
  }

  input:checked {
    background-color: $color-main-function-application-list-item-checkbox-checked-background;
    border: solid 2px $color-main-function-application-list-item-checkbox-checked-background;
  }

  input:checked::after {
    color: $color-main-function-application-list-item-checkbox-checked-mark;
    content: "\e639";
    font-family: muikku;
    font-size: .875rem;
  }

  @include breakpoint($breakpoint-pad) {
    align-items: flex-start;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.application-list__item-content-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-list__item-content-avatar {
  align-items: center;
  border-radius: 100%;
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.application-list__item-content-avatar--category-1 {
  background-color: $color-main-function-category-1;
}

.application-list__item-content-avatar--category-2 {
  background-color: $color-main-function-category-2;
}

.application-list__item-content-avatar--category-3 {
  background-color: $color-main-function-category-3;
}

.application-list__item-content-avatar--category-4 {
  background-color: $color-main-function-category-4;
}

.application-list__item-content-avatar--category-5 {
  background-color: $color-main-function-category-5;
}

.application-list__item-content-avatar--category-6 {
  background-color: $color-main-function-category-6;
}

.application-list__item-content-avatar--category-7 {
  background-color: $color-main-function-category-7;
}

.application-list__item-content-avatar--category-8 {
  background-color: $color-main-function-category-8;
}

.application-list__item-content-avatar--category-9 {
  background-color: $color-main-function-category-9;
}

.application-list__item-content-avatar--category-10 {
  background-color: $color-main-function-category-10;
}

.application-list__item-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.application-list__item-content-header {
  font-size: 1rem;
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
  }
}

.application-list__item-content-body {
  padding: 0 10px;
}

.application-list__item-meta {
  display: flex;
  padding: 10px;
  width: 100%;
}

.application-list__item-footer {
  align-items: center;
  display: flex;
  padding: 0;
}

.application-list__item-footer-content-aside {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;

  @include breakpoint($breakpoint-mobile-xl) {
    justify-content: flex-end;
  }
}

.application-list__item-footer-content-main {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 0.8125rem;
  padding: 0 0 7px;

  @include breakpoint($breakpoint-mobile-xl) {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
  }
}

.application-list__item-date {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  font-size: 0.8125rem;
  justify-content: flex-end;
  text-align: right;

  @include breakpoint($breakpoint-mobile-xl) {
    max-width: 250px;
  }
}

.application-list__item-header-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-list__item-header-main-content {
  display: inline-block;
}
.application-list__item-header-main-content--discussion-message-creator {
  font-size: 0.875rem;
  font-weight: 600;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.application-list__item-header-main-content--communicator-sender {
  font-weight: 600;
  &::after {
    content: ">";
    margin: 0 10px;
  }
}

.application-list__item-header-main-content--communicator-recipients {

  span:not(:last-child) {

    &::after {
      content: ",";
      padding: 0 5px 0 0;
    }

  }
}

.application-list__item-header-aside {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.application-list--open {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none; 
  }
}

.application-list__item-header-aside {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: right;
}

.application-list__item-header-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

// User

.application-list__item-content-aside--user {
  padding: 0 16px 0 0;
}

.application-list__item-content-main--user {
  align-self: center;
}

.application-list__item-content--secondary {
  color: $color-text-secondary;
}

.application-list__item-content-wrapper--user {
  padding: 10px 0;
}


// Discussion 

.application-list__header-container--discussion {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0 0;
  }
}

.application-list__item--discussion-message {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 20px 0;
  }
}

.application-list__item-body--discussion-message {
  font-style: italic;
  line-height: 1rem;
  max-height: 5rem;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
}

.application-list__item-edited {
  font-style: italic;
  font-weight: 600;
}

.application-list__item-body--discussion-message-overflow::before {
  background: linear-gradient($color-application-list-item-fade-background 1rem, $color-default);
  bottom: 0;
  content: "";
  height: 4rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.application-list__item--discussion-reply {
  border-top: 5px solid $color-message-border;
  margin: 10px 0 0;
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    margin: 0;
    padding: 20px 0;
  }
}

.application-list__item--discussion-reply-of-reply {
  padding: 10px 10px 10px 30px;

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0 20px 55px;
  }
}

.application-list__item-content-aside--discussion {
  padding: 0 16px 0 0;
}

.application-list__item-content-main--discussion {
  align-self: center;
}

.application-list__item-header--discussion-current-thread-title {
  font-size: 2 rem;
}

.application-list__item-footer--discussion-message {
  flex-flow: row wrap;
  margin: 10px 0 0;
}

// Announcer
.application-list__item--workspace-announcement,
.application-list__item--environment-announcement {
  padding: 10px 0;

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }

  .glyph::before {
    color: $color-announcement-workspace-icon;
  }
}

.application-list__item--environment-announcement {

  .glyph::before {
    color: $color-announcement-environment-icon;
  }
}

.application-list__item-header--announcer-announcement {
  align-items: flex-start;
  flex-direction: column;
}

.application-list__item--workspace-announcement:first-child,
.application-list__item--environment-announcement:first-child {

  .application-list__item-header {
    background-color: $color-announcement-open-header-background;
  }
}

.application-list__item-footer--announcement-actions {
  margin: 10px 0 0;
}

// Communicator
.application-list__item--communicator-message {
  border-bottom: 5px solid $color-message-border;
  padding: 10px 0;

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }

  &:last-child {
    border: 0;
  }
}

.application-list__item-header--communicator-message-thread {
  align-items: flex-start;
  flex-direction: column;
}

.application-list__item:first-child {

  .application-list__item-header--communicator-message-thread {
    background-color: $color-message-open-header-background;
  }
}

.application-list__item-body--communicator-message {
  margin: 5px 0; 
}

.application-list__item-footer--communicator-message-thread-actions {
  padding: 10px;
}

// Coursepicker
.application-list__item-header--course {
  cursor: pointer;
  padding: 10px 0;

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
}

.application-list__item-body--course {
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 0 0 15px;
  }
}

.application-list__item-body-meta-content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;

  label {
    margin-right: 10px;
  }
}

.application-list__item-footer--course {
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 0 0 15px;
  }
}

// Guider
.application-list__item-footer--student {
  margin: 5px 0 0;
}

// Studies
.application-list__header-container--studies-detailed-info {
  padding: 10px 0;
  font-size: 1.125rem;

  @include breakpoint($breakpoint-pad) {
    padding: 14px 0;
  }
}

.application-list__fee-indicator {
  color: $color-course-icon;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
  justify-content: flex-end;
  margin-right: 10px;
}

.application-list__item-header--studies-assignment {
  cursor: pointer;
}
