@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $navbar-mobile-height 0 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: calc(#{$navbar-desktop-height} * 1.25) 10px 10px;
  }
}

.application-panel__container {
  @include text;
  display: flex;
  flex-direction: column;
  max-width: $breakpoint-max-usable-screen;
  width: 100%;
}

.application-panel__body {
  @include panel-body;
}

.application-panel__body--tabs {
  @include breakpoint($breakpoint-pad) {
    border-bottom: solid 1px $color-application-panel-box-border;
    border-left: solid 1px $color-application-panel-box-border;
    border-right: solid 1px $color-application-panel-box-border;
    border-top: 0;
    box-shadow: none;
  }
}


.application-panel__header {
  display: none;
  
  @include breakpoint($breakpoint-pad) {
    align-items: center;
    background-color: $color-default-body;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    margin: 10px;
    position: relative;
    max-width: calc($breakpoint-max-usable-screen - 20px);
    width: calc(100% - 20px);
  }
}

.application-panel__header-title-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-panel__header-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.application-panel__header-actions {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.application-panel__actions {
  background: $color-default;
  left: 0;
  position: fixed;
  right: 0;
  top: $navbar-mobile-height;
  z-index: 998;
  
  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
  }
}
  
.application-panel__toolbar {
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
}  
  
  
.application-panel__tool--current-folder {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}
 
.application-panel__tool-icon {
  font-size: 1rem;
  height: auto;
  padding: 0 5px 0 0;
  width: 22px;
}
 
.application-panel__tool-title {
  display: inline-block;
  font-size: 1rem;
  max-width: calc(100% - 44px); // 44px is sum of folders icon and label edit icon widths 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

 
  
.application-panel__toolbar-actions-main {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-panel__tools-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}

.application-panel__toolbar-actions-aside {
  display: flex;
  justify-content: flex-end;
}

.application-panel__content {
  padding: $navbar-mobile-height 0 0;
  
  @include breakpoint($breakpoint-pad) {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

// Helper containers
.application-panel__helper-container {
  display: none;

  @include breakpoint($breakpoint-pad) {
    flex-basis: 220px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    margin: 0;
    padding: 12px;
    z-index: 1;
  }
}

.application-panel__helper-container--main-action {
  border-bottom: 1px solid $color-main-function-application-panel-actions-border;
  height: $navbar-desktop-height;
}

// Main containers
.application-panel__main-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0;
  position: relative;
  margin: 0;
  
  @include breakpoint($breakpoint-pad) {
    padding: 12px;
  }
}

.application-panel__main-container--actions {
  background: $color-default;
  border-bottom: 2px solid $color-main-function-application-panel-actions-border; 
  flex-direction: row;
  height: $navbar-mobile-height;
  padding: 10px;
  
  @include breakpoint($breakpoint-pad) {
    background: transparent;
    border-width: 1px;
    height: $navbar-desktop-height;
    padding: 12px;
  }
}

.application-panel__main-container--header {
  justify-content: flex-end;
}

.application-panel__main-container--content-full {

  @include breakpoint($breakpoint-pad) {
    padding-left: 0;
  }
} 


// Profile
.application-panel--profile {

  .application-panel__helper-container {
    display: block;
    
    @include breakpoint($breakpoint-pad) {
      display: flex;
      justify-content: center;
      flex-basis: 294px;
    }
  }
  
  .application-panel__content {
    padding: 10px 0 0;
  }
}
