@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-sub-panel {
  border-bottom: 1px solid $color-default-contrast;
  margin: 0 0 20px;

  &:last-child {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

.application-sub-panel__header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.1875rem;
  font-weight: 400;
  padding: 0 10px;
  text-transform: uppercase;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.375rem;
    margin: 0 0 10px;
    padding: 0;
  }
}

.application-sub-panel__header--guider-header {
  font-family: $text-font-family;
  font-size: 1.1875rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}

.application-sub-panel__header-main-container {
  align-items: flex-start;
  display: flex;
  flex-basis: auto;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 15px;
  text-transform: none;

  @include breakpoint($breakpoint-desktop) {
    align-items: center;
    flex-flow: row wrap;
  }
}

.application-sub-panel__header-main {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.25rem;
  }
}

.application-sub-panel__header-main--guider-profile-student-name {
  flex-shrink: 0;
  font-size: 1.125rem;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }
}

.application-sub-panel__header-main--guider-profile-student-email {
  color: $color-default-helper;
  font-size: 1rem;
  word-wrap: break-all;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: auto;
    flex-grow: 1;
  }
}

.application-sub-panel__header-aside-container {
  align-items: center;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: $text-capitalized-mobile-font-size;
  justify-content: flex-end;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-capitalized-desktop-font-size;
  }
}

.application-sub-panel__body {
  padding: 10px 0;
}

.application-sub-panel__item {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-default-item-separator-border;
  } 

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0;
  } 

  @include breakpoint($breakpoint-desktop) {
    flex-flow: row nowrap;
  }
}

.application-sub-panel__item--empty {
  font-style: italic;
  padding: 0 0 10px;
}

 .application-sub-panel__item-header {
   padding: 10px 0 0;
 }

.application-sub-panel__item-header--hops {
  font-weight: 600;
  margin: 2px 5px 2px 0;
  padding: 0;
}

.application-sub-panel__item-title {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 0 5px;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: 250px;
    margin: 0 10px 0 0;
  }
}

.application-sub-panel__item-label {
  font-weight: 600;
  margin: 2px 5px 2px 0;
  padding: 0;
}

.application-sub-panel__item-inline-value {
  background-color: $color-hops-readable-inline-background;
  border-radius: 3px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px 5px;
}

.application-sub-panel__item-data {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;

  @include breakpoint($breakpoint-desktop) {
    flex-grow: 1;
    flex-shrink: 1;
  }

  span {
    background-color: $color-hops-readable-inline-background;
    border-radius: 3px;
    display: inline-block;
    margin: 2px 5px 2px 0;
    padding: 4px;
  }
}

// HOPS in Guider in readable state
.application-sub-panel__item--hops-readable {
  flex-flow: row wrap;

  .application-sub-panel__item-title {

    @include breakpoint($breakpoint-desktop) {
      flex-basis: 60%;
      margin: 0 10px 0 0;
    }
  }

  .application-sub-panel__item-data {

    @include breakpoint($breakpoint-desktop) {
      flex-basis: auto;
    }
  }
}

// HOPS in Studies in editable state
.application-sub-panel__item--hops-editable {
  align-items: flex-start;
  flex-flow: column wrap;

  .application-sub-panel__item-title {

    @include breakpoint($breakpoint-desktop) {
      flex-basis: auto;
    }
  }

  .application-sub-panel__item-data {

    @include breakpoint($breakpoint-desktop) {
      flex-basis: auto;
    }
  }
}

// Studies
.application-sub-panel__header--studies-detailed-info {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 0;
  }
}

.application-sub-panel__header--studies-hops,
.application-sub-panel__header--studies-vops {
  padding: 10px;
  font-size: 1.1875rem;
  text-transform: uppercase;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    padding: 0;
    font-size: 1.375rem;
  }
}

.application-sub-panel__body--studies-detailed-info {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0;
  }
}

// Guider
.application-sub-panel--guider-student-header {
  border: 0;
  padding: 10px 0 0;
  margin: 0;

  @include breakpoint($breakpoint-pad) {
    padding: 0;
  }
}

.application-sub-panel__text {
  padding: 2px 12px;
}

.application-sub-panel__text--task-evaluation {
  background: $color-task-evaluation;
  border-radius: 3px; 
}

.application-sub-panel__text--course-evaluation {

  &.state-PASSED {
    border-left: 3px solid $color-grade-passed;
  }

  &.state-FAILED {
    border-left: 3px solid $color-grade-failed;
  }

  &.state-INCOMPLETE {
    border-left: 3px solid $color-grade-incomplete;
  }
}

.application-sub-panel__body--labels {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0;
  }
}

.application-sub-panel__item--label {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.application-sub-panel__item--course-activity {
  padding: 10px 0;
}

// This is related to matriculation enrollment and needs to be done different when Studies view gets integrated to devel
.application-sub-panel--matriculation-enrollment {
  border: 0;
  margin: 0;
}


