@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";


// Should be flattened

.autocomplete {
  width: 100%;
  display: block;
  position: relative;
  z-index: 99;

  .autocomplete__input {
    display: block;
    width: 100%;
  }

  .autocomplete__list {
    position: absolute;
    overflow: auto;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 350px;
    background-color: $color-autocomplete-list-background-color;
    border: solid 1px $color-autocomplete-list-border;
    border-top: none;
    z-index: 10;

    .autocomplete__list__item {
      @include prefix(transition, moz o ms webkit, background-color 0.3s);
      border-top: solid 1px $color-autocomplete-list-border;
      background-color: $color-autocomplete-list-background-color;
      padding: 10px;

      &:hover, &.hover {
        background-color: $color-autocomplete-list-item-hover;
      }

      &:active, &.active {
        background-color: $color-autocomplete-list-item-active;
      }

      &.selected {
        background-color: $color-autocomplete-list-item-selected;
      }
    }
  }

  &.autocomplete--new-message {
    margin-bottom: 10px;
  }
}

.autocomplete--new-announcement-recipients {
  margin-top: 10px;
}

.autocomplete__recipient {
  display: flex;

  i {
    opacity: 0.6;
  }

  span {
    margin-right: 5px;
  }
} 

.autocomplete__selected-item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.75rem;

  @include breakpoint($breakpoint-pad) {
    font-size: 0.8125rem;
  }

  i {
    margin: 0 0 0 5px;
    opacity: 0.6;
  }
}
 