@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.dialog {
  @include prefix(transition, moz ms webkit o, opacity 0.3s);
  align-items: center;
  background-color: $color-overlay-background;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.dialog--visible {
  opacity: 1;
}

.dialog__window {
  background-color: $color-dialog-default-background;
  bottom: 0;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    border-radius: 2px;
    bottom: auto;
    font-size: $text-desktop-font-size;
    left: auto;
    max-width: 450px;
    position: relative;
    right: auto;
    top: auto;
  }

  @include breakpoint($breakpoint-pad) {
    box-shadow: 0 0 80px $color-dialog-default-shadow;
  }
}

.dialog__container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.dialog__container--color-picker {
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px 0;
  position: relative;
}

.dialog__container--form {
  flex-flow: column wrap;
}

.dialog__image-tools {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dialog__slider {
  flex: 1 1 auto;
  padding-right: 15px;
}

.dialog__header {
  background-color: $color-dialog-mobile-background;
  color: $color-dialog-mobile-text;
  padding: 15px 20px;
  position: relative;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    background-color: $color-dialog-desktop-background;
    color: $color-dialog-desktop-text;
    display: flex;
    height: 3rem;
    padding: 0 20px;
  }
}

.dialog__icon-container {
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  font-size: 72px;
  padding: 5px;
  position: relative;
}

.dialog__title {
  font-size: $dialog-title-mobile-font-size;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $dialog-title-desktop-font-size;
  }
}

.dialog__close {
  @include prefix(transition, moz ms o webkit, background-color 0.3s);
  border-radius: $dialog-button-close-height;
  cursor: pointer;
  font-size: 18px;
  height: $dialog-button-close-height;
  line-height: $dialog-button-close-height;
  margin-top: -#{$dialog-button-close-height / 2};
  position: absolute;
  right: 10px;
  text-align: center;
  top: 50%;
  vertical-align: center;
  width: $dialog-button-close-height;
}

.dialog__content {
  padding: 20px;
  position: relative;
  width: 100%;
}

.dialog__content-row {
  margin: 0 0 10px;
}

.dialog__footer {
  bottom: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  text-align: right;

  @include breakpoint($breakpoint-pad) {
    position: relative;
    width: 100%;
  }
}

.dialog__button-set {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-start;
  }

  .button {
    margin: 0 0 0 10px;

    @include breakpoint($breakpoint-desktop) {
      margin: 0 10px 0 0;
    }
  }
}
