@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.env-dialog {
  @include prefix(transition, moz ms webkit o, opacity 0.3s);
  @include text;
  background-color: $color-overlay-background;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  &.visible {
    opacity: 1;

    .env-dialog__wrapper {
      bottom: 0;
    }
  }

  label {
    display: block;
    font-family: $text-font-family;
    font-weight: 600;
    overflow: hidden;
    padding: 0 0 5px;
    text-overflow: ellipsis;
  }
}

.env-dialog__wrapper {
  background-color: $color-application-dialog-background-color;
  border-top: 1px solid $color-application-dialog-border-color;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  top: 0;

  @include breakpoint($breakpoint-pad) {
    @include prefix(transition, moz ms webkit o, bottom 0.3s);
    top: auto;
  }
}

.env-dialog__content {
  display: flex;
  flex-direction: column;
  font-family: $text-font-family;
  height: 100%;
  overflow: auto;
  width: 100%; 

  @include breakpoint($breakpoint-desktop) {
    max-width: 760px;
    overflow: initial;
  }

  @include breakpoint($breakpoint-desktop-xl) { 
    max-width: 830px;
  }
}

.env-dialog__header {
  color: $color-dialog-default-title-text;
  font-size: $dialog-title-mobile-font-size;
  padding: 10px;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    font-size: $dialog-title-desktop-font-size;
  }

  @include breakpoint($breakpoint-pad) {
    left: 15px;
  }
}

.env-dialog__body {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 10px;
}

.env-dialog__footer {
  padding: 10px;
}

.env-dialog__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .button {
    margin: 0 0 0 10px;
  }

  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-start;

    .button {
      margin: 0 10px 0 0;
    }
  }
}

.env-dialog__close {
  @include prefix(transition, moz ms o webkit, background-color 0.3s);
  border-radius: $dialog-button-close-height;
  cursor: pointer;
  font-size: 18px;
  height: $dialog-button-close-height;
  line-height: $dialog-button-close-height;
  margin-top: -#{$dialog-button-close-height / 2};
  position: absolute;
  right: -6px;
  text-align: center;
  top: 50%;
  vertical-align: center;
  width: $dialog-button-close-height;
}

.env-dialog__row {
  margin-top: 10px;
}

.env-dialog__row--communicator-signature,
.env-dialog__row--new-discussion-thread-states {
  align-items: center;
  background-color: $color-default;
  display: flex;
  padding: 10px 0;
}

.env-dialog__row---new-discussion-options {
  display: flex;
  flex-flow: column wrap;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row wrap;
  }
}

.env-dialog__row--new-announcement-options {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-pad) {
    flex-direction: initial;
  }
}

.env-dialog__form-element-container {
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;

  .cke {
    border: 2px solid $color-env-dialog-form-element-border;
    border-radius: 3px;
    flex-grow: 1;
  }

  textarea {
    // This is needed for the bottom margins to work on main functions
    min-height: 210px;
  }

  &:not(:first-child) {

    @include breakpoint($breakpoint-pad) {
      margin-left: 20px;
    }
  }
}

.env-dialog__form-element-container--datepicker {
  flex-grow: 0;

  &:not(:first-child) {
    @include breakpoint($breakpoint-pad) {
      margin-left: 0;
    }
  }
}

.env-dialog__label {
  align-items: center;
  color: $color-text-default;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  padding: 5px 10px 5px 0;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.env-dialog__selected-item {
  align-items: center;
  background-color: $color-form-element-selected-item-background;
  border-radius: 4px; 
  color: $color-form-element-selected-item-text;
  display: inline-flex;
  font-weight: 300;
  height: 24px;
  margin: 4px 4px 0 0;
  padding: 2px 4px;
  position: relative;
  white-space: nowrap;

  @include breakpoint($breakpoint-desktop) {
    height: 32px;
    margin: 2px 4px 2px 0;
  }
}

.env-dialog__selected-item-label {
 
}

.env-dialog__selected-item-action {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0.75rem; // Will be same size for mobile and desktop
  margin: 0 0 0 10px;
}

.env-dialog__input--communicator-new-message-subject {
  margin-bottom: 5px;
}

.env-dialog__label-name {
  display: block;
  margin-bottom: 24px;
  text-align: center;
}

.env-dialog__input--new-discussion-thread-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.env-dialog__input {
  border: 2px solid $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 8px;
  width: 100%;
}

.env-dialog__input-label {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 0 0 3px;
}

.env-dialog__input-description {
  border-left: 2px solid $color-default-separator-border;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 0 15px;
  padding: 0 0 0 10px;
}

.env-dialog__input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  align-items: center;
  appearance: none;
  border: solid 2px $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: flex;
  height: 1rem;
  justify-content: center;
  padding: 8px;
  width: 1rem;
}

.env-dialog__input[type="checkbox"]:checked {
  background-color: $color-application-dialog-border-color;
  border: solid 2px $color-application-dialog-border-color;
}

.env-dialog__input[type="checkbox"]:checked::after {
  color: $color-default;
  content: "\e639";
  font-family: muikku;
  font-size: .875rem;
}

.env-dialog__input--date-picker {
  width: 100%;
}

.env-dialog__select {
  border: 2px solid $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  padding: 3px 6px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.env-dialog__textarea {
  border: 2px solid $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  height: 100px;
  padding: 8px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

// Used in forgotpassword dialog
.text-field--forgotpassword-email {
  font-size: $text-forgotpassword-font-size;
  width: 100%;
}
