@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.feed {
  align-items: flex-start;
  color: $color-feed-default-text;
  display: flex;
  flex-flow: row wrap;
  font-family: $text-branded-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  list-style-type: none;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.feed__item {
  display: flex;
  flex-basis: 100%;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 1.5rem;
  max-width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($breakpoint-pad) {
    margin-bottom: 1.75rem;
  }

  @include breakpoint($breakpoint-desktop) {
    margin-bottom: 2rem;
  }

  @include breakpoint($breakpoint-desktop-xl) {
    margin-bottom: 2.5rem;
  }
}

.feed__item-aside {
  border-radius: 5px;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
  margin: 4px 15px 0 0;
  max-width: 50px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;

  &:hover,
  &:active,
  &.hover,
  &.active {
    opacity: 0.7;
  }

  img {
    border: 0;
  }

  @include breakpoint($breakpoint-mobile-xl) {
    flex-basis: 100px;
    height: 100px;
    margin-right: 20px;
    max-width: 100px;
  }

  @include breakpoint($breakpoint-pad) {
    flex-basis: 125px;
    height: 125px;
    margin-right: 20px;
    max-width: 125px;
  }

  @include breakpoint($breakpoint-desktop) {
    flex-basis: 150px;
    height: 150px;
    margin-right: 25px;
    max-width: 150px;
  }

  @include breakpoint($breakpoint-desktop-xl) {
    flex-basis: 200px;
    height: 200px;
    margin-right: 30px;
    max-width: 200px;
  }
}

.feed__item-image {
  height: 50px;
  width: auto;

  @include breakpoint($breakpoint-mobile-xl) {
    height: 100px;
  }

  @include breakpoint($breakpoint-pad) {
    height: 125px;
  }

  @include breakpoint($breakpoint-desktop) {
    height: 150px;
  }

  @include breakpoint($breakpoint-desktop-xl) {
    height: 200px;
  }
}

.feed__item-title {
  color: $color-feed-default-text;
  display: block;
  font-weight: 600;
  margin: 0 0 5px;

  @include breakpoint($breakpoint-mobile-xl) {
    font-size: 1rem;
    font-weight: 400;
  }

  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
  }
}

.feed__item-title--nettilukio {
  color: $color-frontpage-card-upper-secondary-school-title;
}

.feed__item-title--nettiperuskoulu {
  color: $color-frontpage-card-secondary-school-title;
}

.feed__item-body {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.feed__item-description {
  line-height: 1.275rem;
  margin-bottom: 0.375rem;

  @include breakpoint($breakpoint-pad) {
    line-height: 1.375rem;
  }
}

.feed__item-meta {
  align-items: center;
  color: $color-feed-default-date; // This is for the hyphen between date and label so we don't have to add class to it in html
  display: flex;
  flex-flow: row wrap;
  font-size: 0.75rem;
  line-height: 1;
  margin: 10px 0 0;

  @include breakpoint($breakpoint-pad) {
    font-size: 0.8125rem;
  }
}

.feed__item-date {
  color: $color-feed-default-date;
  margin: 0 5px 0 0;
}

.feed__item-label {
  margin: 0 0 0 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.feed__item-label--nettilukio {
  color: $color-frontpage-card-upper-secondary-school-title;
}

.feed__item-label--nettiperuskoulu {
  color: $color-frontpage-card-secondary-school-title;
}
