@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.item-list {
  @include text;
}

.item-list--aside-navigation {
  padding: 0 0 10px 0;
  width: 100%;
}

.item-list__title {
  display: block;
  font-weight: 600;
  padding: 12px 0;
}
  
// Item-list items BASE

.item-list__item {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);
  align-items: flex-start;
  background-color: $color-item-list-item-background;
  color: $color-text-default;
  cursor: pointer;
  display: flex;
  padding: 12px;
  position: relative;
  
  &:hover, 
  &.hover {
    // background-color: $color-item-list-item-background-hover;
  }

  &:active, 
  &.active {
    // background-color: $color-item-list-item-background-active;
  }
}

.item-list--settings {
  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

// Item-list items in workspaces panel

.item-list--panel-workspaces .item-list__item {
  @include text;
}

// Item-list items in lastest messages panel

.item-list--panel-latest-messages .item-list__item {
  align-items: flex-start;
  border-top: solid 1px $color-default-item-separator-border;
  
  &:first-child {
    border: 0;
  }
}

// Item-list items in announcements

.item-list--panel-announcements .item-list__item {
  align-items: flex-start;
  border-top: solid 1px $color-default-item-separator-border;
  
  &:first-child {
    border: 0;
  }
}

// Item-list items in main-function's aside panel
.item-list--aside-navigation .item-list__item {
  background-color: $color-item-list-item-aside-background;
  border-radius: 2px;
  margin: 0 0 5px;
  padding: 8px;
  
  &:hover, 
  &.hover {
    background-color: $color-item-list-item-aside-background-hover;
  }

  &:active, 
  &.active {
    background-color: $color-item-list-item-aside-background-active;
    color: $color-item-list-item-font-color-active;
  
    .text,
    .item-list__icon {
      color: $color-item-list-item-font-color-active;
    }
  }
}

.item-list__item--bordered {
  border-left: solid 4px; 
}

// Unread list items in index page (icons and texts)

.item-list--panel-latest-messages {

  .item-list__item--unread .item-list__icon {
    color: $color-index-item-list-item-panel-latest-messages-unread-icon;
  }
}

.item-list--panel-announcements {

  .item-list__item--unread .item-list__icon {
    color: $color-index-item-list-item-panel-announcements-unread-icon;
  }
}

.item-list__item--unread .item-list__text-body {
  font-weight: 600;
}
  
// List item icons
.item-list__icon {
  color: $color-item-list-icon-font-color;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: $item-list-icon-font-size;
}

.item-list__icon--workspaces {
  color: $color-index-item-list-item-panel-workspaces-icon;
}

.item-list__icon--latest-messages {
  color: $color-index-item-list-item-panel-latest-messages-icon;
}

.item-list__icon---announcements {
  color: $color-index-item-list-item-panel-announcements-icon;
}

.item-list__item--has-workspaces .item-list__icon {
  color: $color-index-item-list-item-panel-announcements-has-workspaces-icon;
}

// List item texts

.item-list__text-body {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 100;
  font-size: $text-mobile-font-size;
  line-height: $item-list-item-min-size;
  margin-left: 5px;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}
  
.item-list__text-body--multiline {
  white-space: initial;
  display: flex;
  flex-direction: column;
}

// List item dates

.item-list__latest-message-date,
.item-list__announcement-date {
  color: $color-index-text-panels-date-color;
  font-size: calc(#{$text-mobile-font-size} / 1.1);
  font-style: italic;
  padding: 6px 0 0;
  
  @include breakpoint($breakpoint-pad) {
    font-size: calc(#{$text-desktop-font-size} / 1.1);
  }
}

// List item labels (and similar)

.item-list__announcement-workspaces,
.item-list__announcement-usergroups {
  margin: 10px 0 0;
}
