@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.labels {
	align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-flow: row wrap;
  flex-shrink: 1;
}

.labels--communicator-message,
.labels--announcer-announcement {
	margin: 0 10px 10px;
}
  
.label {
  align-items: center;
  background: $color-label-background;
  border-radius: 4px; 
  display: flex;
  font-weight: 300;
  margin: 2px 5px 2px 0;
  padding: 2px 4px;
}

.label__icon {
  align-items: center;
  display: flex;
  font-size: 0.8125rem;
  padding: 0 5px 0 0;
}

.label__icon--announcement-workspace {
  color: $color-workspace;
}

.label__icon--announcement-usergroup {
  color: $color-default-contrast;
}

.label__text {
	font-size: 0.75rem;
	
	@include breakpoint($breakpoint-pad) {
    font-size: 0.8125rem;
  }
}

.label__text--announcement-workspace,
.label__text--announcement-usergroup {
  font-size: calc(#{$text-mobile-font-size} / 1.1);

  @include breakpoint($breakpoint-pad) {
    font-size: calc(#{$text-desktop-font-size} / 1.1);
  }
}
