@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.link {
  @include prefix(transition, moz ms webkit o, background-color 0.3s, color 0.3s);
  @include prefix(user-select, moz ms webkit o, none);
  color: $color-link-default-text;
  cursor: pointer;
  display: inline-block;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  vertical-align: middle;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }

  .link__icon {
    display: inline-block;
  }

  &:not(.link--icon) .link__icon {
    margin-right: 10px;
  }
  
  &:hover,
  &.hover {
    color: darken($color-link-default-text, 20%);
  }

  &:active,
  &.active {
    color: darken($color-link-default-text, 20%);
  }

  &.disabled, &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.link--frontpage {
  color: $color-link-frontpage-text;
  font-size: 0.9375rem;
  text-transform: uppercase;

  &:hover,
  &.hover,
  &:active,
  &.active {
    background-color: $color-link-hover-background;
    color: $color-link-default-text;
  }
}

.link--forgot-password {
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 1;
  line-height: 1rem;
  margin: 0 15px;
  max-width: 75px;
  text-align: left;
  white-space: normal;
  word-spacing: 75px;

  @include breakpoint($breakpoint-mobile-xl) {
    flex-basis: auto;
  }

  @include breakpoint($breakpoint-pad) {
    flex-basis: 0;
  }

  @include breakpoint($breakpoint-desktop) {
    flex-basis: auto;
  }

  &.link--forgot-password-main-function {
  	color: $color-main-function-label-forgot-password;
  }
}

.link--privacy-policy {
  color: $color-default;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;

  @include breakpoint($breakpoint-pad) {
    text-align: left;
  }

  &:hover,
  &:active {
    color: $color-default;
  }
}

.link--plagscan-logo {
  border: 0;
}

.link--plagscan-privacy-policy {
  color: $color-default;

  &:hover,
  &:active {
    color: $color-default;
  }
}

.link--icon {
  @include prefix(font-smoothing, webkit moz o ms, antialiased);
  font-family: muikku;
  font-size: $link-icon-font-size;
  font-style: normal;
  font-variant: none;
  font-weight: normal;
  speak: none;
  text-transform: none;
}

.link--highlight {
  background-color: $color-link-highlight-background;
  color: $color-link-highlight-text;
}

.link--inverse {
  background-color: $color-link-inverse-background;
  color: $color-link-inverse-text;

  &:hover,
  &.hover {
    background-color: $color-link-hover-background;
    color: $color-link-inverse-text;
  }

  &:active,
  &.active {
    background-color: $color-link-hover-background;
    color: $color-link-inverse-text;
  }
}

.link--full {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
}

.link--menu {
  justify-content: flex-start;
}
 
.link--language {
  background-color: $color-environment-link-language-background;
  color: $color-environment-link-language-text;
  justify-content: flex-start;

  &:hover,
  &.hover {
    background-color: opacify($color-environment-link-language-hover-background, 0.6);
    color: $color-environment-link-language-text;
  }

  &:active,
  &.active {
    background-color: opacify($color-environment-link-language-hover-background, 0.6);
    color: $color-environment-link-language-text;
  }
}

.link--menu {
  overflow: hidden;

  &.active,
  &:active {
    background-color: $color-default;
    color: $color-default-contrast;
    font-weight: 600;
  }

  .link__icon {
    background-color: $color-environment-link-menu-icon-background;
    color: $color-environment-link-menu-icon-color;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
  }
}

.link--menu__text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.link--menu--instructions {

  .link__icon {
    background: $color-environment-link-menu-instructions-icon-background;
    color: $color-environment-link-menu-instructions-icon-color;
  }
}

.link--menu--helpdesk {

  .link__icon {
    background: $color-environment-link-menu-heldesk-icon-background;
    color: $color-environment-link-menu-helpdesk-icon-color;
  }
}

.link--frontpage {
  .link__icon {
    color: $color-environment-link-menu-navicon-icon-color;
  }
}

.link--menu--logout {

  .link__icon {
    background: $color-environment-link-menu-logout-icon-background;
    color: $color-environment-link-menu-logout-icon-color;
  }
}

.link--icon {
  color: $color-environment-link-icon-color;

  @include breakpoint($breakpoint-pad) {

    &:hover, &.hover {
      color: $color-environment-link-icon-color-hover;
    }

    &:active, &.active {
      color: $color-environment-link-icon-color-active;

      &::before {
        content: " ";
        height: $main-function-link-icon-active-border-size;
        background-color: $color-environment-link-icon-border-top-color-active;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
      }
    }
  }
}

.link--profile {
  font-size: 14px;
  background-color: $color-environment-link-profile-menu-background;
  color: $color-default-contrast;
  justify-content: flex-start;

  &:hover,
  &.hover,
  &:active,
  &.active {
    background-color: $color-environment-link-profile-menu-hover-background;
    color: $color-default-contrast;
  }
}

.link--communicator-label,
.link--guider-label {
  border-top: 1px solid $color-default;
  justify-content: flex-start;
  text-transform: none;
  max-width: 204.5px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &.hover {
    background-color: $color-main-function-label-link-hover-background;
  }

  &:active,
  &.active {
    background-color: $color-main-function-label-link-active-background;
  }

  &.selected {
    background-color: $color-main-function-label-link-selected-background;

    .link__text {
      color: $color-text-link-selected;
      font-weight: 600;
    }
  }

  &.semi-selected {
     background-color: lighten($color-main-function-label-link-selected-background, 20%);

    .link__text {
       color: $color-text-link-selected;
      font-weight: 600;
    }
  }
}

.link--application-list-item-footer {
  color: $color-link-application-item-footer;
  cursor: pointer;
  text-decoration: underline;
  text-transform: none;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

// This has to be think differently as the element is not <Link> component currently
.link--matriculation-enrollment {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 0;
}


