@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.menu {
  @include prefix(transition, moz webkit ms o, opacity 0.3s);
  background-color: $color-overlay-background;
  bottom: 0;
  display: none;
  font-family: $menu-font;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  
  @include breakpoint($breakpoint-pad) {
    left: -$menu-width-pad;
    width: $menu-width-pad;
  }
  
  &.displayed {
    display: block;
  }

  &.visible {
    opacity: 1;

    >.menu__container {
      left: 0;
    }
  }

  &.dragging {
    transition: none;

    .menu__container {
      transition: none;
    }
  }
}

.menu--hidden {
  left: -$menu-width-mobile;
}

.menu__logo {
  background: url("/gfx/oo-branded-site-logo-text.png") no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: $navbar-mobile-height;
  width: 175px;
}

.menu__container {
  @include prefix(transition, webkit moz o ms, left 0.3s);
  align-items: center;
  background-color: $color-menu-default-background;
  border-right: solid 1px darken($color-menu-default-background, 30%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: -$menu-width-mobile;
  position: absolute;
  top: 0;
  width: $menu-width-mobile;
}

.menu__extras {
  padding: 0 10px 10px;
  width: 100%;
  border-bottom: solid 5px $color-default-separator-border;
  margin: 0 0 20px;
  
  &:empty {
    display: none;
  }
}

.menu__header {
  background-color: $color-menu-default-header-background;
  height: $navbar-mobile-height;
  position: relative;
  width: 100%;
}

.menu__body {
  overflow-y: auto;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.menu__button-close {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);
  position: absolute;
  height: $navbar-mobile-height;
  width: 45px;
  right: 0;
  top: 0;
  vertical-align: middle;
  line-height: $navbar-mobile-height;
  transition: background-color .3s;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-right: 5px;
  cursor: pointer;

  &:active, &.active {
    background-color: $color-menu-default-header-button-close-background-active;
  }
}

.menu__button-close--main-function {
  color: $color-menu-default-header-button-close;
}

.menu__button-close--frontpage {
  color: $color-menu-main-function-header-button-close;
}

.menu__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
 
.menu__item {
  display: block;
  height: 50px;
  text-transform: uppercase;
}

.menu__item--space {
  height: 30px;

  @include breakpoint($breakpoint-pad) {
    height: 45px;
  }
}

.menu--main-function {

  .menu__header {
    background-color: $color-environment-menu-header-background;
  }

  .menu__logo {
    background: url("/gfx/oo-branded-site-logo-text-white.png") no-repeat center center;
  }

  .menu__item {
    text-transform: none;  
  }
}
