@import "../base/mixins";
@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";

.navbar {
  background-color: $color-navbar-default-background;
  box-shadow: 0 0 10px $color-navbar-default-shadow;
  box-sizing: border-box;
  color: $color-navbar-default-text;
  font-family: $navbar-font;
  font-size: .9375rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

// NAVBAR WRAPPER FOR ALL ELEMENTS
.navbar__wrapper {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  height: $navbar-mobile-height;
  margin: 0 auto;
  max-width: $breakpoint-max-usable-screen;
  padding: 0;
  
  @include breakpoint($breakpoint-pad) {
    height: $navbar-desktop-height;
  }
}
  
// NAVBAR LOGO
.navbar__logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: $navbar-mobile-height;
  width: 175px;

  @include breakpoint($breakpoint-pad) {
    height: $navbar-desktop-height;
  }
}

.navbar--frontpage .navbar__logo {

  @include breakpoint($breakpoint-desktop-xl) {
    background-image: url("/gfx/oo-branded-site-logo-text.png");
    display: inline-block;
  }
}

.navbar--main-function .navbar__logo {

  @include breakpoint($breakpoint-desktop) {
    background-image: url("/gfx/oo-branded-site-logo-text-white.png");
    display: inline-block;
  }
}

// NAVBAR TITLE FOR MOBILE
.navbar__mobile-title {
  color: $color-environment-navbar-title;
  font-size: 1.5rem;
  font-weight: 300;
  height: $navbar-mobile-height;
  left: 55px;
  line-height: $navbar-mobile-height;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  
  @include breakpoint($breakpoint-pad) {
    height: $navbar-desktop-height;
    line-height: $navbar-desktop-height;
  }
}

// NAVBAR ITEMS CONTAINER
.navbar__items {
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: $navbar-mobile-height;
  line-height: $navbar-mobile-height;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;
  
  @include breakpoint($breakpoint-pad) {
    flex-grow: 1;
    height: $navbar-desktop-height;
    line-height: $navbar-desktop-height;
  }
}
 
// NAVBAR ITEMS
.navbar__item {
  display: none;
  float: left;
  height: $navbar-mobile-height;
  line-height: $navbar-mobile-height;
  margin: 0;
  vertical-align: top;
  
  @include breakpoint($breakpoint-pad) {
    height: $navbar-desktop-height;
    line-height: $navbar-desktop-height;
  }
}

.navbar__item--menu-button {
  display: inline-block;
}

// NAVBAR ITEMS BREAKPOINTS
@include breakpoint($breakpoint-pad) {
  
  .navbar--main-function .navbar__item--menu-button,
  .navbar__mobile-title {
    display: none;
  }
  
  .navbar__item--studying,
  .navbar__item--contact,
  .navbar__item--open-materials {
    display: inline-block;
  }
  
  .navbar__item--home,
  .navbar__item--coursepicker,
  .navbar__item--communicator,
  .navbar__item--discussion,
  .navbar__item--guider,
  .navbar__item--records,
  .navbar__item--evaluation,
  .navbar__item--announcer  {
    display: inline-block;
    width: $navbar-desktop-item-width;
  }
}

@include breakpoint($breakpoint-desktop) {

  .navbar--frontpage .navbar__item--menu-button {
    display: none;
  }

  .navbar__item--news,
  .navbar__item--organization {
    display: inline-block;
  }
}
  
// NAVBAR IN MAIN-FUNCTIONS
.navbar--main-function {
  background-color: $color-environment-navbar-background;
 
 .navbar__item--menu-button .link {
    color: $color-environment-navbar-item-menu-button;
  }  
}

// NAVBAR LOGIN, FORGOTPASSWORD, AVATAR, LANGUAGE
.navbar__default-options {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  height: $navbar-mobile-height;
  justify-content: flex-end;
  
  @include breakpoint($breakpoint-mobile-xl) {
    flex-grow: 1;
  }
  
  @include breakpoint($breakpoint-pad) {
    flex-grow: 0;
    height: $navbar-desktop-height;
  }
  
  @include breakpoint($breakpoint-desktop) {
    flex-basis: auto;
    flex-grow: 1;
  }
  
}
