@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.reading-panel {
  @include text;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: calc(#{$navbar-mobile-height} * 1.2) 0 10px;

  @include breakpoint($breakpoint-pad) {
    padding: calc(#{$navbar-desktop-height} * 1.25) 10px 10px;
  }
}

.reading-panel__container {
  display: flex;
  flex-direction: column;
  max-width: $breakpoint-max-usable-screen;
  overflow: visible;
  width:100%;

  @include breakpoint($breakpoint-pad) {
    padding: 0 10px;
  }
}

.reading-panel__body {
  display: flex;
  flex-direction: column;
}

.reading-panel__header {
  display: none;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    background-color: $color-default-body;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    margin: 10px;
    max-width: calc($breakpoint-max-usable-screen - 20px);
    position: relative;
    width: calc(100% - 20px);
  }
}

.reading-panel__header-title {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.reading-panel__header-actions {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.reading-panel__actions {
  background: $color-default;
  left: 0;
  position: fixed;
  right: 0;
  top: $navbar-mobile-height;
  z-index: 8;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
  }
}

.reading-panel__toolbar {
  align-items: center;
  display: flex;
  width: 100%;
}

.reading-panel__toolbar-actions-main {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.reading-panel__toolbar-actions-aside {
  display: flex;
  justify-content: flex-end;
}

.reading-panel__content {
  padding: 2.5rem 0 0;

  @include breakpoint($breakpoint-pad) {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

// Helper containers
.reading-panel__helper-container {
  display: none;

  @include breakpoint($breakpoint-pad) {
    display: flex;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 0 0 10px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    z-index: 1;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include breakpoint($breakpoint-desktop) {
    flex-basis: 33%;
  }
}

// Main containers

.reading-panel__main-container {
  background-color: $color-reading-panel-box-background;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 10px 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint($breakpoint-pad) {
    border: solid 1px $color-reading-panel-box-border;
    flex-basis: 60%;
    margin: 0 10px 0 0;
  }

  @include breakpoint($breakpoint-desktop) {
    flex-basis: 67%;
  }
}

.reading-panel__main-container--actions {
  border-bottom: 1px solid $color-main-function-application-panel-actions-border; 
  flex-direction: row;
  margin: 0;
  padding: 10px;
  position: relative;

  @include breakpoint($breakpoint-pad) {
    margin: 0 12px;
    padding: 12px 0;
  } 
}

.reading-panel__main-container--header {
  justify-content: flex-end;
}

.reading-panel__main-container--content-full {

  @include breakpoint($breakpoint-pad) {
    padding-left: 0;
  }
} 
