@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.toc {
  background-color: $color-panel-background-color;
  border: solid 1px $color-toc-box-border;
  border-radius: $panel-border-radius;
  box-shadow: 0 2px 3px $color-panel-shadow;
  display: block;
  overflow: visible;
  padding: 1px;
  position: relative;
  width: 100%;
}

.toc__container {
  width: 100%;
}
