@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.workspace-activity {
  display: flex;
  flex-flow: row wrap;
}

.workspace-activity--studies {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  padding: 10px 0 0;
}

.workspace-activity__progressbar {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 20px;
  margin: 5px 0 0;
  max-width: 100%;
}

.workspace-activity__progressbar--studies {
  
  svg {
    @include prefix(transition, webkit ms o moz, opacity 0.2s ease-in-out);
    opacity: 0.3;
  }

}

.workspace-activity__progressbar-label {
  background: $color-default;
  border: 1px solid $color-assignment;
  border-radius: 3px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1; 
  padding: 2px 4px;
  position: absolute;
  text-align: center;
}

.workspace-activity__assignment-done-percent {
  color: $color-assignment;
  font-size: 0.9rem;
  padding: 0 5px 0 0;
}
 
.workspace-activity__exercise-done-percent {
  color: $color-exercise;
  font-size: 0.9rem;
  padding: 0 0 0 5px;
}

.workspace-activity__evaluated-date {
  padding: 0 0 0 5px;
}
