
@import "vars";
@import "styles";
 
body {
  background-color: $body-background-color;
  color: $body-font-color;
  font-family: $environment-font-family;
}

// Vars-view flex 

.vars-view-row {
  margin: 20px;
  display:flex;
  justify-content: space-around;  
}

div.icon {
  font-size: 50px;
  
  span {
    font-family: $environment-font-family;   
    font-size: 20px;
  }
}
 
div.box {
  padding: 20px;
  margin-top: 10px;
  
  &.dark {
    background-color: #e7e7e7;
  }
}

 div.circle {
  border-radius: 50%;
  height: 55px;
  margin-left: 10px;
  padding: 20px;
  width: 55px;

 }

.vars-view-cell {
  align-items: center;
  background-color: #f7f7f7; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:10px;
  
  &.dark {
    background-color: #dadada;
  }
  
  &.transparent {
    background-color: transparent;
  }

  
   
  > div:not(:first-child) {
    margin-left: 10px;  
  }  
  
  .vars-view-subrow {
    display:flex;
    flex-direction: row;       
  }  
}

.environment-language-selection {
  background-color: $environment-language-selection-background-color;
  box-shadow: $environment-language-selection-shadow;
  color: $environment-language-selection-link-color;
  width: 300px;
    
    &:hover {
      background-color: $environment-language-selection-active-background-color;  
    }
    
    .language {
      max-width: 200px;
      background-color: $environment-language-selection-language-background-color;
      color: $environment-language-selection-language-link-color;
      
      &.active {
        color: $environment-language-selection-language-link-hover-color;
        background-color: $environment-language-selection-language-background-hover-color;   
      }
    }
}

.environment-sign-in {
  color: $environment-sign-in-link-color;
  text-shadow: $environment-sign-in-font-shadow;
}

.environment-logged-in {
  border: 1px solid $environment-logged-in-border-color;
  background-color: $environment-logged-in-background-color;
  color: $environment-logged-in-font-color;
}

.environment-static-navigation {
  color: $environment-static-navigation-icon-color; 
  font-family: $environment-icon-family;
  font-size:50px;
  padding: 5px;
  @include gradient-top-bottom($environment-static-navigation-gradient-color-start, $environment-static-navigation-gradient-color-end, $environment-static-navigation-gradient-color-start);
  background-color: $environment-static-navigation-background-color;
  border: 1px solid $environment-static-navigation-border-color;
  border-top: 1px solid $environment-static-navigation-border-top-color; 
  border-bottom: 1px solid $environment-static-navigation-border-bottom-color;
  
  &.active {
    border: 1px solid $environment-static-navigation-active-border-color;  
  }
  
  .notifier {
    width: 30px;
    height: 30px;
    vertical-align:center;
    font-size: 22px;
    text-align: center;
    font-family: $environment-font-family;
    background-color: $environment-static-navigation-notifier-background-color;
    border: 3px solid $environment-static-navigation-notifier-border-color;
    border-radius: 50%;
    color: $environment-static-navigation-notifier-font-color;  
  } 
}

.environment-icon {
  font-family: $environment-icon-family;
  color: $environment-icon-font-color;
  font-size: 50px;  
}

.environment {
  background-color: $environment-background-color;  
  color: $environment-font-color;  
  padding: 20px;
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $environment-header-font-color;
  }

  .link {
    color: $environment-link-color;
  }
  
  .alt {
    color: $environment-alt-font-color;
  }  
  
  .page-title {
    color: $environment-page-title-font-color;    
  }
  
  .border {
    border: 1px solid $environment-border-color;
  }
  
  .border-selected {
    border: 1px solid $environment-border-selected-color;
  }
    
  .border-highlight {
    border: 1px solid $environment-border-highlight-color;
  }

  .button-container{
    background-color: $environment-button-container-background-color; 
    
    >div{
      padding: 10px;
      margin-bottom: 10px;
    }
    
    .button {
      background-color: $environment-button-background-color; 
      @include gradient-top-bottom($environment-button-gradient-start-color, $environment-button-gradient-end-color,  $environment-button-background-color);
      border: 1px solid $environment-button-border-color;
      color: $environment-button-font-color;  

      &.disabled {
        background-color: $environment-button-disabled-background-color;
        @include gradient-top-bottom($environment-button-disabled-gradient-start-color, $environment-button-disabled-gradient-end-color, $environment-button-disabled-gradient-start-color);
        color: $environment-button-disabled-font-color;            
      }
    }
    
    .button-dropdown {
      border: 1px solid $environment-button-border-color;    
      background-color: $environment-button-dropdown-background-color;
      @include gradient-top-bottom($environment-button-gradient-start-color, $environment-button-gradient-end-color, $environment-button-dropdown-background-color);
      color: $environment-button-font-color;        
    }
  }
  
  .menu {
    background-color: $environment-menu-background-color;
    box-shadow: $environment-menu-shadow;
    color: $environment-menu-font-color;
    padding: 10px;
    .item{
      padding: 5px;
    }
    
    .item.active {
      background-color: $environment-menu-item-active-background-color;
      color: $environment-menu-item-active-font-color;      
    }
  }

  .content-container {
    background-color: $environment-content-container-background-color; 
    padding: 20px;
    width: 500px;
  }
  
  .content {
    background-color: #fff;
    box-shadow: $environment-content-box-shadow;  
    padding: 10px;
    
    .navigation-container{
      background-color: $environment-navigation-container-background-color;
      padding: 15px;      
    }

    .navigation{
      background-color: $environment-navigation-content-navigation-background-color;    
      padding: 5px;
    }
  }
  
  .paging {
    background-color: $environment-paging-tool-background-color;
    color: $environment-paging-tool-font-color;
    margin-top: 10px;
    padding: 5px;   
    text-align: center;
    
    &.disabled {
      background-color: $environment-paging-tool-background-disabled-color;
      color: $environment-paging-tool-font-disabled-color;    
      margin-left: 20px;
    }
  }  
  
  .header {
    background-color: $environment-header-background-color;
    padding: 10px;
  }
  

  .subtitle {
    color: $environment-subtitle-font-color;  
  }

  .items-title {
    color: $environment-items-title-font-color;
  }
  
  
  .widget-overlay {
    background-color: $environment-widget-overlay-background-color;
    height: 30px;
    width: 100px;
  }
    
  .settings {
   
    .icon {
      color: $environment-settings-icon-color;
      font-size: 50px;
      font-family: $environment-icon-family;    

      
      &.active {
        color: $environment-settings-hover-icon-color;
        margin-left: 20px;
      }       
    }
    
    .settings-subtitle {
      background-color: $environment-settings-subtitle-background-color;
      margin-top: 10px;
      padding: 10px;
    }
          
    .settings-signature {
      background-color: $environment-setting-signature-background-color;
      border-left: 3px solid $environment-setting-signature-border-color;
      margin-top: 10px;
      padding: 10px;

    }     
  }
  
  .profile {
    background-color: $environment-profile-background-color;
    padding: 20px;
    
    .picture {    
      border: 1px solid $environment-profile-picture-border;
      box-shadow: $environment-profile-picture-box-shadow;
      height: 20px;
      margin-top: 10px;
      padding: 10px;
      text-align: center;
      width: 40px;
    }
    
    .section {
      background-color: $environment-profile-section-background-color;
      color: $environment-profile-section-font-color;      
      margin-top: 10px;    
      padding: 5px;
    }
    
    .button {
      background-color: $environment-profile-button-background-color; 
      color: $environment-profile-button-font-color;
      margin-top: 10px;             
      padding: 5px;

    }
  }
  
  .file {
    background-color: $environment-file-background-color;  
    color: #fff;
    padding: 5px;
  }
  
  .item-shadow {
    box-shadow: $environment-box-shadow;
    padding: 5px;
    margin-top: 10px;
  }


  .bottom-bar {
    background-color: $environment-bottom-bar-background-color;
    box-shadow: $environment-bottom-bar-box-shadow;
    color: $environment-bottom-bar-font-color;
    padding: 10px;
    
    .link {
      color: $environment-bottom-bar-link-color;
      margin-top: 10px;
    }   

    .forms {

      > div {
        padding: 5px;
        margin-top: 5px;
      }
      
      .form-header {
        color: $form-header-font-color;     
      }
      
      .form-element-title {
        background-color: #fff;
        color: $form-element-title-font-color;
         
      }
       
      .form-textfield { 
        background-color: #fff;   
        color: $form-textfield-font-color;
        
        &.focus {
          background-color: $form-textfield-focus-background-color;
        }
        
        &.hover {
          background-color: $form-textfield-hover-background-color;        
        }  
        
        .subcontainer {
          background-color: $form-textfield-subcontainer-background-color;   
          border: 1px solid $form-textfield-subcontainer-border-color;
          color: $form-textfield-subcontainer-font-color;
     
        }



      }
      
      .button {
        color: $form-button-font-color;
        padding: 5px;
                
        &:not(:first-child) {
          margin-left: 10px;
        }

        &.send {
          background-color: $form-button-send-background-color;
        }
        
        &.cancel {
          background-color: $form-button-cancel-background-color;
        }      
      }
      
      .autocomplete {
        background-color: $form-autocomplete-background-color;
        border: 1px solid $form-autocomplete-border-color;
        color: $form-autocomplete-hover-font-color;            
      }
    }    
  }     
}

// From here

.item {
  background-color: $item-background-color;  
  border: 1px solid $item-border-color;
  width: 500px;
    
  .active {
    background-color: $item-background-active-color;
    border: 2px solid $item-border-color-active;

  }
  
  .highlight {
    background-color: $item-background-highlight-color;
    border: 2px solid $item-border-highlight-color;
  }
  
  .markup-border-1 {
    border: 2px solid $item-markup-border-color-1;
  }
  
  .markup-border-2 {
    border: 2px solid $item-markup-border-color-2;  
  }
  
  .markup-border-3 {
    border: 2px solid $item-markup-border-color-3;
  }
  
  .shadow {
    box-shadow: $item-shadow;
  }
  
  
  .item-header {
  
    &.hidden {
      color: $item-header-hidden-font-color;    
    }

    &.secondary {
      color: $item-header-secondary-font-color;    
    }

    &.icon {
      color: $item-header-icon-font-color;    
    }
    
    .label {
      background-color: $item-header-label-background-color;    
    }                
  } 
  
  .description {
    color: $item-description-font-color; 
  }
  
  .target-icon {
    color: $item-target-icon-color;
  }
  
  .state {
    color: $item-state-info-font-color;
    
    &.locked-icon {
      color: $item-state-locked-icon-color;    
    }
    
    &.pinned-icon {
      color: $item-state-pinned-icon-color;
    }
  }

  .title {
    background-color: $item-title-background-color;
  }

  .grade {
    color: $item-grade-font-color;
    
    &.passing {
      background-color: $item-grade-passing-color;
    }
    
    &.failing {
      background-color: $item-grade-failing-color;
    }
  
  }

  .button {
    color: $item-button-font-color;
    
    &.add {
      background-color: $item-default-button-background-color;
    }   
  }

  .tool {
    color: $item-tool-font-color;
    
    &.hover {
      color: $item-tool-font-hover-color;
    }
    
    .button {
      background-color: $item-tool-button-background-color;
      color: $item-tool-button-font-color;
      
      &.wizard {
        background-color: $item-tool-button-wizard-background-color;
      }
      
      &.goto {
        background-color: $item-tool-button-goto-background-color;      
      }
    }

    .link {
      color: $item-tool-link-font-color;
    }
  }

  .label {
    color: $item-label-font-color;
  }
}

.navigation-vertical {
  background-color: $navigation-vertical-bar-background-color;
  border: 1px solid $navigation-vertical-bar-border-color;
  
  .active {
//    background-color: $navigation-vertical-bar-background-active-color;
    background-color: $navigation-vertical-bar-active-background-color;
  }
  
  
  .hover {
    border: 1px solid $navigation-vertical-bar-hover-border-color;
  }
  
  .icon {
    color: $navigation-vertical-bar-icon-color;  
  }
  
  .empty {
    color: $navigation-vertical-bar-empty-font-color;
  }
  
  .selected {
    background-color: $navigation-vertical-bar-selected-background-color;
  
  }
 
  .decoration-icon {
    color: $navigation-vertical-bar-deco-icon-color;   
    
    &.active {
      color: $navigation-vertical-bar-deco-active-icon-color;
    }  
  }
  
  .sub-header {
    background-color: $navigation-vertical-bar-sub-header-background-color;    
  }  
}

.navigation-horizontal {  
  
  .navigate {
    background-color: $navigation-horizontal-bar-navigation-background-color;
    border-radius: 30%;
    color: $navigation-horizontal-bar-navigation-icon-color; 

  }
  
  .button {    
    background-color: $navigation-horizontal-bar-default-button-background-color;
    color: $navigation-horizontal-bar-button-icon-color;
  
    &.hover {
      background-color: $navigation-horizontal-bar-default-button-background-hover-color;
    }    
  }
  
  .special-container {
  
    .special {
      background-color: $navigation-horizontal-bar-special-background-color;
      color: $navigation-horizontal-bar-button-icon-color;

      &.accented {
        background-color: $navigation-horizontal-bar-special-accented-background-color;
      }
      
      &.button {
        background-color: $navigation-horizontal-bar-special-button-background-color;
      }
    }

    .menu {
      border: 1px solid $navigation-horizontal-bar-special-menu-border-color;
      border-radius: 3px;
      font-size: 12px;   
      margin-top: 10px;
      position: relative;
      
      > div:not(:first-child) {
        margin-top: 5px;
      }
      
      &::after, 
      &::before {
        border: solid transparent;
        bottom: 100%;
        content: " ";
        height: 0;
        margin-top: 10px;      
        pointer-events: none;
        position: absolute;
        width: 0;
      }  
    
      &::after {
        border-bottom-color: $navigation-horizontal-bar-special-menu-arrow-border-color-1;
        border-color: $environment-border-transparent-color;
        border-width: 7px;
        margin-left: -7px;
      }
      
      &::before {
        border-bottom-color: $navigation-horizontal-bar-special-menu-arrow-border-color-2;
        border-color: $environment-border-transparent-color;
        border-width: 8px;
        margin-left: -8px;
      }
      
      .link {
        color: $navigation-horizontal-bar-special-menu-link-font-color;
      }
      
      .input {
        border: 1px solid $navigation-horizontal-bar-special-menu-input-border-color;
        padding: 10px;
      }
    }
    
    .active {
      background-color: $navigation-horizontal-bar-special-background-color;
      color: $navigation-horizontal-bar-active-font-color;
    }
    
    .hover {
      background-color: $navigation-horizontal-bar-hover-background-color;    
    }
    
    .border {
      border: 1px solid $navigation-horizontal-bar-border-color;    
    }
    

  }
  
  .disabled {
    background-color: $navigation-horizontal-bar-disabled-button-background-color;       
    color: $navigation-horizontal-bar-disabled-button-font-color; 
  }  

  
}



.content-navigations {
  
  .content-menu {
    border: 1px solid $content-navigation-menu-border-color-1;
    box-shadow: $content-navigation-menu-shadow;
    
    &.highlight {
      background-color: $content-navigation-menu-highlight-background-color;
    }
    
    &.action {
      background-color: $content-navigation-action-remove-background-color;
      color: $content-navigation-action-font-color;    
    }
  }

  
}


.categories {
  color: $environment-font-color;
  
  div {
    margin-left: 5px;
  }
  
  .cat-1 {
    background-color: $category-color-1;
  }
  
  .cat-2 {
    background-color: $category-color-2;
  }
  
  .cat-3 {
    background-color: $category-color-3;
  }
  
  .cat-4 {
    background-color: $category-color-4;
  }
  
  .cat-5 {
    background-color: $category-color-5;
  }
  
  .cat-6 {
    background-color: $category-color-6;
  }
  
  .cat-7 {
    background-color: $category-color-7;
  }
  
  .cat-8 {
    background-color: $category-color-8;
  }
  
  .cat-9 {
    background-color: $category-color-9;
  }
  
  .cat-10 {
    background-color: $category-color-10;
  }
  
  .cat-11 {
    background-color: $category-color-11;
  }     
}

.search {
  color: $search-icon-color;
  font-size: 50px;
}

.search-result {
  color: $search-result-font-color; 
}
 
.user-picture {
  background-color: $environment-background-dim-color;
  color: $user-picture-font-color;
}

.target {
  color: $target-font-color;
  
  &.remove-font {
    color: $target-remove-font-color;  
  } 

  &.user {
    background-color: $target-user-color;
    color: $environment-alt-font-color;
  }
  
  &.workspace {
    background-color: $target-workspace-color;
    color: $environment-alt-font-color;
  }
  
  &.group {
    background-color: $target-group-color;
    color: $environment-alt-font-color;
  }   
  
  &.remove {
    background-color: $target-remove-color;
    color: $environment-alt-font-color;
  }
}

.evaluation {
  background-color: $evaluation-background-color;
  
  .view {
    background-color: $evaluation-view-background-color; 
  }  
  
  .passed {
    background-color: $evaluation-passed-color; 
    color: $environment-alt-font-color;
  } 
  
  .failed {
    background-color: $evaluation-failed-color;
    color: $environment-alt-font-color;
  }
  
  .incomplete {
    background-color: $evaluation-incomplete-color;
    color: $environment-alt-font-color;
  }  
  
  .requested {
    background-color: $evaluation-requested-color;
    color: $environment-alt-font-color;
  }  
  
  .archive {
    background-color: $evaluation-archive-color;
    color: $environment-alt-font-color;    
  }
  
  .delete {
    background-color: $evaluation-delete-color;
    color: $environment-alt-font-color;   
  }
  
  .cancel {
    background-color: $evaluation-cancel-color;
    color: $environment-alt-font-color;   
  }     
  
  .passed-shadow {
    background-color: $evaluation-passed-boxshadow-color;
  }
  
  .failed-shadow {
    background-color: $evaluation-failed-boxshadow-color;
  }   
  
  .incomplete-shadow {
    background-color: $evaluation-incomplete-boxshadow-color;
  }
  
  .requested-shadow {
    background-color: $evaluation-requested-boxshadow-color;
  }


  .navigation {
    background-color: $evaluation-navigation-background-color;
    
    .shadow-color {
      background-color: $evaluation-navigation-boxshadow-color;
    }
    
    .evaluation-item-font {
      color: $evaluation-navigation-item-font-color; 
    }  
    
    .evaluation-item-text-shadow {
      background-color: $evaluation-navigation-item-textshadow-color; 
    }
  
  }
  
  .filter {
    background-color: $evaluation-filter-wrapper-background-color;
    
    &.shadow {
      background-color: $evaluation-filter-wrapper-background-boxshadow-color;
    }   
  }
   
  .sorting {
  
    .active {
      background-color: $evaluation-sorting-item-nonactive-background-color;
      color: $evaluation-sorting-item-nonactive-font-color;
    }
    
    .inactive {
      background-color: $evaluation-sorting-item-active-background-color;
      color: $evaluation-sorting-item-active-font-color;
    }
  }
  
  .welldone {
    background-color: $evaluation-welldone-font-color;
    color: $environment-alt-font-color;
  }
  
  .cards {
  
    .card {
      background-color: $evaluation-card-background-color;
      border: 1px solid $evaluation-card-border-color;
      
      &.title {
        background-color: $evaluation-card-title-background;
      } 
      
      &.assignment-status {
        color: $evaluation-card-assignment-status-font-color;
        
        &.done {
          background-color: $evaluation-card-assignment-status-done-background-color;
        }   
        
        &.undone {
          background-color: $evaluation-card-assignment-status-notdone-background-color;      
        }
      }      
    }
   
    .star {      
    
      &.important {
        color: $evaluation-important-star-font-color;
        
        &.active {
          background-color: $evaluation-important-star-active-background-color;
          color: $evaluation-important-star-active-font-color;
        }
      }      
      
      &.unimportant {
        color: $evaluation-unimportant-star-font-color;
        
        &.active {
          background-color: $evaluation-unimportant-star-active-background-color;
          color: $evaluation-unimportant-star-active-font-color;
        }        
      }
    }
  }
  
  .modal {
    background-color: $evaluation-modal-background-color;
    
    .close {
      color: $evaluation-modal-close-font-color;
      
      &.text-shadow {
        background-color: $evaluation-modal-close-textshadow-color;
        color: $environment-font-color;
      }    
    }
    
    .assignment-close {
      border: 1px solid $evaluation-modal-assignment-close-border-color;
      color: $evaluation-modal-assignment-close-font-color;

      
      &.text-shadow {
        background-color: $evaluation-modal-assignment-close-textshadow-color;
      }      
    }
    
    .header {
      background-color: $evaluation-modal-header-background-color;
      color: $evaluation-modal-header-font-color;      
    }
    
    .modal-text-editor {
      border: 1px solid $evaluation-modal-texteditor-border-color;
    }
    
    .modal-textfield {
      background-color: $evaluation-modal-textfield-background-color;
      border: 1px solid $evaluation-modal-textfield-border-color;
    }

    .modal-memofield {
      background-color: $evaluation-modal-memofield-background-color;
      border: 1px solid $evaluation-modal-memofield-border-color;    
    }
    
    .modal-select {
      background-color: $evaluation-modal-select-background-color;
      border: 1px solid $evaluation-modal-select-border-color;   
    }    
    
    .modal-button {
      color: $evaluation-modal-button-font-color;           
    }    
    
    .modal-assignment-evaluation {
      background-color: $evaluation-modal-editor-background-color;
      
      .assignment-header {      
        background-color: $evaluation-modal-editor-header-background-color;
      }
    }
    
    .modal-separator {
      border: 1px solid $evaluation-modal-seperator-border-color;
    }
    
    .modal-evaluate-button {
      color: $evaluation-modal-assignment-evaluate-button-font-color;
    }
    
    .modal-assignment-evaluated {
    
      &.incomplete {
        color: $evaluation-modal-assignment-evaluated-incomplete-font-color;
      }
      
      .grade-info {
        background-color: $evaluation-modal-assignment-evaluated-grade-info-background-color;
      }
      
      .literal {
        background-color: $evaluation-modal-assignment-evaluated-literal-background-color;
      }
    }   
  }   
}























