<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:jsf="http://xmlns.jcp.org/jsf"
  template="flex-main.xhtml">
  
  <ui:define name="title">
    <title>#{workspaceBackingBean.workspaceName} - #{i18n.text['plugin.site.title']}</title>
  </ui:define>
  
  <ui:define name="styles">
    <link rel="stylesheet" type="text/css" href="/css/deprecated/flex/flex-main-workspace.css"/>
    <ui:insert name="workspace-view-styles"></ui:insert>  
  </ui:define> 
  
  <ui:define name="navigation">
    <!-- MUIKKU MAIN NAVIGATION -->
    <nav id="staticNavigationWrapper">
      <div class="static-navigation-bg"></div>
      <div id="staticNavigation">
        <!-- DESKTOP/TABLET NAVIGATION -->
        <!-- HOME -->
        <div class="dock-static-navi-button-home #{activeTrail eq 'index' ? 'active-trail' : ''}" title="#{i18n.text['plugin.home.home']}">
          <a href="#{request.contextPath}/" class="icon-home"/>
        </div>
        <!-- COURSEPICKER -->
        <div class="dock-static-navi-button-coursepicker #{activeTrail eq 'coursepicker' ? 'active-trail' : ''}" title="#{i18n.text['plugin.coursepicker.coursepicker']}">
          <a jsf:outcome="/jsf/coursepicker/index.jsf" class="icon-books tooltip">
            <span style="display:none" class="dock-notification"></span>
          </a>
        </div>
        <!-- COMMUNICATOR -->
        <ui:fragment rendered="#{sessionBackingBean.loggedIn and sessionBackingBean.isActiveUser}">
          <div class="dock-static-navi-button-communicator #{activeTrail eq 'communicator' ? 'active-trail' : ''}" title="#{i18n.text['plugin.communicator.communicator']}">
            <a jsf:outcome="/jsf/communicator/index.jsf" class="icon-envelope">
              <span style="display:none" class="dock-notification"></span>
            </a>
          </div>
          <!-- DISCUSSION -->
          <ui:fragment rendered="#{sessionBackingBean.hasEnvironmentPermission('FORUM_ACCESSENVIRONMENTFORUM') and sessionBackingBean.isActiveUser}">
            <div class="dock-static-navi-button-discussion sm-flex-hide #{activeTrail eq 'discussion' ? 'active-trail' : ''}" title="#{i18n.text['plugin.forum.forum']}">
              <a jsf:outcome="/jsf/discussion/index.jsf" class="icon-bubble">
                <span style="display:none" class="dock-notification"></span>
              </a>
            </div>
          </ui:fragment>
        </ui:fragment>
        <!-- GUIDER -->
        <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('GUIDER_VIEW')}">
          <div class="dock-static-navi-button-guider #{activeTrail eq 'guider' ? 'active-trail' : ''}" title="#{i18n.text['plugin.guider.guider']}">
            <a jsf:outcome="/jsf/guider/index.jsf" class="icon-members">
              <span style="display:none" class="dock-notification"></span>
            </a>
          </div>
        </ui:fragment>
        <!-- TRANSCRIPT of RECORDS -->
        <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('TRANSCRIPT_OF_RECORDS_VIEW')}">
          <div class="dock-static-navi-button-records #{activeTrail eq 'records' ? 'active-trail' : ''}" title="#{i18n.text['plugin.records.records']}">
            <a jsf:outcome="/jsf/records/index.jsf" class="icon-profile">
              <span style="display:none" class="dock-notification"></span>
            </a>
          </div>
        </ui:fragment>
        <!-- EVALUATION -->
        <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('EVALUATION_VIEW_INDEX')}">
          <div class="dock-static-navi-button-evaluation sm-flex-hide" title="#{i18n.text['plugin.evaluation.evaluation']}">
            <a jsf:outcome="/jsf/evaluation/main-view.jsf" class="icon-evaluate" target="top">
              <span style="display:none" class="dock-notification"></span>
            </a>
          </div>
        </ui:fragment>
        <!-- ANNOUNCER -->
        <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('ANNOUNCER_TOOL')}">
          <div class="dock-static-navi-button-announcer sm-flex-hide #{activeTrail eq 'announcer' ? 'active-trail' : ''}" title="#{i18n.text['plugin.announcer.announcer']}">
            <a jsf:outcome="/jsf/announcer/index.jsf" class="icon-announcer">
              <span style="display:none" class="dock-notification"></span>
            </a>
          </div>
        </ui:fragment>
        <ui:fragment rendered="#{sessionBackingBean.loggedIn}">
          <a jsf:outcome="/jsf/profile/profile.jsf">
            <span class="lu-picture sm-flex-hide">
	            <object data="/rest/user/files/user/#{sessionBackingBean.loggedUserId}/identifier/profile-image-96" type="image/jpeg">
	              <img src="#{resource['theme-muikku/gfx/default-user-picture.jpg']}" />
	            </object>
            </span>
          </a>
        </ui:fragment>
        
        <div class="site-locale sm-flex-hide">
            <div class="selected-language">#{languageWidgetBackingBean.language}</div>
            <h:form>
              <div class="language-selection-container" data-visibility-status="hidden">
                <ui:repeat value="#{i18n.languages}" var="locale">
                  <a jsf:action="#{languageWidgetBackingBean.setLanguage(locale)}">#{i18n.text['plugin.navigation.language.' .concat(locale)]}</a>
                </ui:repeat>
              </div>
            </h:form>
          </div>

        <!-- MOBILE NAVIGATION - NAVMORE -->
        <ui:fragment rendered="#{sessionBackingBean.loggedIn}">
          <div class="dock-static-navi-button-navimore lg-flex-hide md-flex-hide" title="">
            <div class="icon-navicon">
              <div class="navmore-container">
                <!-- DISCUSSION -->
                <ui:fragment rendered="{sessionBackingBean.hasEnvironmentPermission('FORUM_ACCESSENVIRONMENTFORUM') and sessionBackingBean.isActiveUser}">
                  <div class="dock-static-navi-button-discussion lg-flex-hide md-flex-hide">
                    <a jsf:outcome="/jsf/discussion/index.jsf" class="icon-bubble"><span>#{i18n.text['plugin.forum.forum']}</span></a>
                  </div>
                </ui:fragment>
                <!-- EVALUATION -->
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('EVALUATION_VIEW_INDEX')}">
                  <div class="dock-static-navi-button-evaluation lg-flex-hide md-flex-hide">
                    <a jsf:outcome="/jsf/evaluation/main-view.jsf" class="icon-evaluate" target="top"><span>#{i18n.text['plugin.evaluation.evaluation']}</span></a>
                  </div>
                </ui:fragment>
                <!-- ANNOUNCER -->
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('ANNOUNCER_TOOL')}">
                  <div class="dock-static-navi-button-announcer lg-flex-hide md-flex-hide">
                    <a jsf:outcome="/jsf/announcer/index.jsf" class="icon-announcer"><span>#{i18n.text['plugin.announcer.announcer']}</span></a>
                  </div>
                </ui:fragment>
                <!-- PROFILE -->
                <div class="dock-static-navi-button-profile lg-flex-hide md-flex-hide">
                  <a class="icon-user" jsf:outcome="/jsf/profile/profile.jsf"><span>#{i18n.text['plugin.profile.profile']}</span></a> 
                </div>
                <!-- SIGNOUT -->
                <h:form>
                  <div class="dock-static-navi-button-logout lg-flex-hide md-flex-hide">
                    <a jsf:action="#{logoutWidgetBackingBean.logout}" class="icon-signout"><span>#{i18n.text['plugin.logout.logout']}</span></a>
                  </div>
                </h:form>
              </div>
            </div>
          </div>
        </ui:fragment>
      </div>
    </nav>
  </ui:define>
  
  <ui:define name="main-content">
    <div class="flex-grid" id="content">
      <!-- WORKSPACE NAVIGATION -->
      <div id="workspaceNavigationWrapper">
        <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('REQUEST_WORKSPACE_ASSESSMENT')}">
          <!-- WORKSPACE EVALUATION NAVIGATION -->
          <nav id="workspaceEvaluationDockWrapper">
            <div id="workspaceEvaluationDock">
              <div class="workspace-dock-navi-button-evaluation" data-state="#{workspaceBackingBean.assessmentState}">
                <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'unassessed'}">
                  <a class="icon-assessment-unassessed tooltip" title="#{i18n.text['plugin.workspace.dock.evaluation.requestEvaluationButtonTooltip']}">
                    <span class="workspace-navi-tt-container-evaluation">#{i18n.text['plugin.workspace.dock.evaluation.requestEvaluationButtonTooltip']}</span>
                  </a>   
                </ui:fragment>
                <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'pending' or workspaceBackingBean.assessmentState eq 'pending_pass' or workspaceBackingBean.assessmentState eq 'pending_fail'}">
                  <a class="icon-assessment-pending tooltip" title="#{i18n.text['plugin.workspace.dock.evaluation.cancelEvaluationButtonTooltip']}">
                    <span class="workspace-navi-tt-container-evaluation">#{i18n.text['plugin.workspace.dock.evaluation.cancelEvaluationButtonTooltip']}</span>
                  </a>   
                </ui:fragment>
                <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'pass'}">
                  <a class="icon-assessment-pass tooltip" title="#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}">
                    <span class="workspace-navi-tt-container-evaluation">#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}</span>
                  </a>   
                </ui:fragment>
                <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'fail'}">
                  <a class="icon-assessment-fail tooltip" title="#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}">
                    <span class="workspace-navi-tt-container-evaluation">#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}</span>
                  </a>   
                </ui:fragment>
                <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'incomplete'}">
                  <a class="icon-assessment-fail tooltip" title="#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}">
                    <span class="workspace-navi-tt-container-evaluation">#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}</span>
                  </a>   
                </ui:fragment>
              </div>
            </div>
          </nav>
        </ui:fragment>
        
        <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE,WORKSPACE_MANAGE_PERMISSIONS,MANAGE_WORKSPACE_MATERIALS,MANAGE_WORKSPACE_FRONTPAGE,MANAGE_WORKSPACE_HELP,WORKSPACE_ANNOUNCER_TOOL')}">
          <!-- WORKSPACE MANAGEMENT NAVIGATION -->
          <nav id="workspaceEditDockWrapper">
            <div id="workspaceEditDock">
              <div class="workspace-dock-navi-button-workspace-management">
                <div class="icon-cogs">
                  <div class="navmore-container"> 
                    <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE')}">          
                      <!-- EDIT WORKSPACE -->
                      <div class="workspace-management-item">
                        <a class="icon-settings" title="#{i18n.text['plugin.workspace.dock.workspace-edit']}" jsf:outcome="/jsf/workspace/workspace-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                          <span>#{i18n.text['plugin.workspace.dock.workspace-edit']}</span>
                        </a>
                      </div>
                    </ui:fragment>
                    
                    <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('WORKSPACE_ANNOUNCER_TOOL')}">          
                      <!-- EDIT ANNOUNCEMENTS -->
                      <div class="workspace-management-item">
                        <a class="icon-announcer" title="#{i18n.text['plugin.workspace.dock.workspace-announcements']}" jsf:outcome="/jsf/workspace/workspace_announcer.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                          <span>#{i18n.text['plugin.workspace.dock.workspace-announcements']}</span>
                        </a>
                      </div>
                    </ui:fragment>
                    
                    <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('WORKSPACE_MANAGE_PERMISSIONS')}">          
                      <!-- EDIT PERMISSIONS -->
                      <div class="workspace-management-item">
                        <a class="icon-permissions" title="#{i18n.text['plugin.workspace.dock.workspace-permissions']}" jsf:outcome="/jsf/workspace/permissions.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                          <span>#{i18n.text['plugin.workspace.dock.workspace-permissions']}</span>
                        </a>
                      </div>
                    </ui:fragment>

                    <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE_MATERIALS')}">
                      <!-- EDIT MATERIALS -->
                      <div class="workspace-management-item">
                        <a class="icon-edit-materials" title="#{i18n.text['plugin.workspace.dock.material-management']}" jsf:outcome="/jsf/workspace/materials-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                          <span>#{i18n.text['plugin.workspace.dock.material-management']}</span>
                        </a>
                      </div>  
                    </ui:fragment>
                    
                    <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE_FRONTPAGE')}">
                      <!-- EDIT FRONTPAGE -->
                      <div class="workspace-management-item">
                        <a class="icon-edit" title="#{i18n.text['plugin.workspace.dock.home']}" jsf:outcome="/jsf/workspace/frontpage-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                          <span>#{i18n.text['plugin.workspace.dock.editIndex']}</span>
                        </a>
                      </div>
                    </ui:fragment>
                    
                    <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE_HELP')}">
                      <!-- EDIT HELPPAGE -->
                      <div class="workspace-management-item">
                        <a class="icon-edit" title="#{i18n.text['plugin.workspace.dock.editHelp']}" jsf:outcome="/jsf/workspace/helppage-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                          <span>#{i18n.text['plugin.workspace.dock.editHelp']}</span>
                        </a>
                      </div>
                    </ui:fragment>
                  </div>
                </div>
              </div>  
            </div>
          </nav>
        </ui:fragment>
        
        <ui:insert name="materials-fullscreen"></ui:insert>
          
        <!-- WORKSPACE STUDENT NAVIGATION -->
        <nav id="workspaceDockWrapper">
          <div id="workspaceDock">
            <ui:fragment rendered="#{workspaceBackingBean.homeVisible}">
              <!-- WORKSPACE HOME -->
              <div class="workspace-dock-navi-button-home">
                <a class="icon-home-workspace tooltip" title="#{i18n.text['plugin.workspace.dock.home']}" jsf:outcome="/jsf/workspace/workspace.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                  <span class="workspace-navi-tt-container-home">#{i18n.text['plugin.workspace.dock.home']}</span>
                </a>
              </div>
            </ui:fragment>
            <ui:fragment rendered="#{workspaceBackingBean.guidesVisible}">
              <!-- WORKSPACE GUIDES -->
              <div class="workspace-dock-navi-button-guides">
                <a class="icon-guides tooltip" title="#{i18n.text['plugin.workspace.dock.guides']}" jsf:outcome="/jsf/workspace/help.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                  <span class="workspace-navi-tt-container-guides">#{i18n.text['plugin.workspace.dock.guides']}</span>
                </a>
              </div>
            </ui:fragment>
            <ui:fragment rendered="#{workspaceBackingBean.materialsVisible}">
              <!-- WORKSPACE MATERAILS -->
              <div class="workspace-dock-navi-button-materials">
                <a class="icon-materials tooltip" title="#{i18n.text['plugin.workspace.dock.materials']}" jsf:outcome="/jsf/workspace/materials.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                  <span class="workspace-navi-tt-container-materials">#{i18n.text['plugin.workspace.dock.materials']}</span>
                </a>
              </div>
            </ui:fragment>
            <ui:fragment  rendered="#{workspaceBackingBean.discussionsVisible}">
              <!-- WORKSPACE DICUSSIONS -->
              <div class="workspace-dock-navi-button-discussions">
                <a class="icon-bubble tooltip" title="#{i18n.text['plugin.workspace.dock.discussions']}" jsf:outcome="/jsf/workspace/discussions.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                  <span class="workspace-navi-tt-container-discussions">#{i18n.text['plugin.workspace.dock.discussions']}</span>
                </a>
              </div>
            </ui:fragment>
            <ui:fragment rendered="#{workspaceBackingBean.usersVisible}">
              <!-- WORKSPACE STUDENTS -->
              <div class="workspace-dock-navi-button-members">
                <a class="icon-members tooltip" title="#{i18n.text['plugin.workspace.dock.members']}" jsf:outcome="/jsf/workspace/users.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                  <span class="workspace-navi-tt-container-members">#{i18n.text['plugin.workspace.dock.members']}</span>
                </a>
              </div>
            </ui:fragment>
            <ui:fragment rendered="#{workspaceBackingBean.journalVisible}">
              <!-- WORKSPACE JOURNAL -->
              <div class="workspace-dock-navi-button-journal">
                <a class="icon-journal tooltip" title="#{i18n.text['plugin.workspace.dock.journal']}" jsf:outcome="/jsf/workspace/journal.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                  <span class="workspace-navi-tt-container-journal">#{i18n.text['plugin.workspace.dock.journal']}</span>
                </a>
              </div>
            </ui:fragment>
          </div>
        </nav>
      </div>
      
      <!-- WORKSPACE NAVIGATION WHEN RESOLUTION IS TOO SMALL -->
      <div id="workspaceNavigationWrapperBuble">
        <div class="icon-navicon">
          <div class="navmore-container">
            <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('REQUEST_WORKSPACE_ASSESSMENT')}">
              <div class="navmore-evaluation-links">
                <div class="workspace-evaluation-item workspace-dock-navi-button-evaluation" data-state="#{workspaceBackingBean.assessmentState}">
                  <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'unassessed'}">
                    <a class="icon-assessment-#{workspaceBackingBean.assessmentState}" 
                         title="#{i18n.text['plugin.workspace.dock.evaluation.requestEvaluationButtonTooltip']}">
                      <span class="workspace-evaluation-item-label">#{i18n.text['plugin.workspace.dock.evaluation.requestEvaluationButtonTooltip']}</span>
                    </a>   
                  </ui:fragment>
                  <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'pending' or workspaceBackingBean.assessmentState eq 'pending_pass' or workspaceBackingBean.assessmentState eq 'pending_fail'}">
                    <a class="icon-assessment-#{workspaceBackingBean.assessmentState}" title="#{i18n.text['plugin.workspace.dock.evaluation.cancelEvaluationButtonTooltip']}">
                      <span class="workspace-evaluation-item-label">#{i18n.text['plugin.workspace.dock.evaluation.cancelEvaluationButtonTooltip']}</span>
                    </a>   
                  </ui:fragment>
                  <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'pass'}">
                    <a class="icon-assessment-#{workspaceBackingBean.assessmentState}" title="#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}">
                      <span class="workspace-evaluation-item-label">#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}</span>
                    </a>   
                  </ui:fragment>
                  <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'fail'}">
                    <a class="icon-assessment-#{workspaceBackingBean.assessmentState}" title="#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}">
                      <span class="workspace-evaluation-item-label">#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}</span>
                    </a>   
                  </ui:fragment>
                  <ui:fragment rendered="#{workspaceBackingBean.assessmentState eq 'incomplete'}">
                    <a class="icon-assessment-fail" title="#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}">
                      <span class="workspace-evaluation-item-label">#{i18n.text['plugin.workspace.dock.evaluation.resendRequestEvaluationButtonTooltip']}</span>
                    </a>   
                  </ui:fragment>
                </div>
              </div>
            </ui:fragment>
            
            <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE')}">
              <div class="navmore-management-links">
              
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE,MANAGE_WORKSPACE_MATERIALS,MANAGE_WORKSPACE_FRONTPAGE,MANAGE_WORKSPACE_HELP,WORKSPACE_ANNOUNCER_TOOL')}">          
                  <!-- EDIT WORKSPACE -->
                  <div class="workspace-management-item">
                    <a class="icon-settings" title="#{i18n.text['plugin.workspace.dock.workspace-edit']}" jsf:outcome="/jsf/workspace/workspace-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                      <span class="workspace-management-item-label">#{i18n.text['plugin.workspace.dock.workspace-edit']}</span>
                    </a>
                  </div>  
                </ui:fragment>
                
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('WORKSPACE_ANNOUNCER_TOOL')}">          
                  <!-- EDIT ANNOUNCEMENTS -->
                  <div class="workspace-management-item">
                    <a class="icon-announcer" title="#{i18n.text['plugin.workspace.dock.workspace-announcements']}" jsf:outcome="/jsf/workspace/workspace_announcer.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                      <span>#{i18n.text['plugin.workspace.dock.workspace-announcements']}</span>
                    </a>
                  </div>
                </ui:fragment>
                
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('WORKSPACE_MANAGE_PERMISSIONS')}">          
                  <!-- EDIT PERMISSIONS -->
                  <div class="workspace-management-item">
                    <a class="icon-permissions" title="#{i18n.text['plugin.workspace.dock.workspace-permissions']}" jsf:outcome="/jsf/workspace/permissions.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                      <span>#{i18n.text['plugin.workspace.dock.workspace-permissions']}</span>
                    </a>
                  </div>
                </ui:fragment>
                
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE_MATERIALS')}">
                  <!-- EDIT MATERIALS -->
                  <div class="workspace-management-item">
                    <a class="icon-edit-materials" title="#{i18n.text['plugin.workspace.dock.material-management']}" jsf:outcome="/jsf/workspace/materials-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                      <span class="workspace-management-item-label">#{i18n.text['plugin.workspace.dock.material-management']}</span>
                    </a>
                  </div>  
                </ui:fragment>
                    
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE_FRONTPAGE')}">
                  <!-- EDIT FRONTPAGE -->
                  <div class="workspace-management-item">
                    <a class="icon-edit" title="#{i18n.text['plugin.workspace.dock.home']}" jsf:outcome="/jsf/workspace/frontpage-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                      <span class="workspace-management-item-label">#{i18n.text['plugin.workspace.dock.editIndex']}</span>
                    </a>
                  </div>
                </ui:fragment>
                
                <ui:fragment rendered="#{sessionBackingBean.hasWorkspacePermission('MANAGE_WORKSPACE_HELP')}">                
                  <!-- EDIT HELPPAGE -->
                  <div class="workspace-management-item">
                    <a class="icon-edit" title="#{i18n.text['plugin.workspace.dock.editHelp']}" jsf:outcome="/jsf/workspace/helppage-management.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                      <span class="workspace-management-item-label">#{i18n.text['plugin.workspace.dock.editHelp']}</span>
                    </a>
                  </div>
                </ui:fragment>
              </div>
            </ui:fragment>
            
            <ui:fragment rendered="#{workspaceBackingBean.materialsVisible}">
              <ui:insert name="materials-fullscreen-bublelink"></ui:insert>
            </ui:fragment>
            
            <div class="navmore-student-links">
              <ui:fragment rendered="#{workspaceBackingBean.homeVisible}">
                <!-- WORKSPACE HOME -->
                <div class="workspace-student-item">
                  <a class="icon-home-workspace" title="#{i18n.text['plugin.workspace.dock.home']}" jsf:outcome="/jsf/workspace/workspace.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                    <span class="workspace-student-item-label">#{i18n.text['plugin.workspace.dock.home']}</span>
                  </a>
                </div>
              </ui:fragment>
              <ui:fragment rendered="#{workspaceBackingBean.guidesVisible}">
                <!-- WORKSPACE GUIDES -->
                <div class="workspace-student-item">
                  <a class="icon-guides" title="#{i18n.text['plugin.workspace.dock.guides']}" jsf:outcome="/jsf/workspace/help.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                    <span class="workspace-student-item-label">#{i18n.text['plugin.workspace.dock.guides']}</span>
                  </a>
                </div>
              </ui:fragment>
              <ui:fragment rendered="#{workspaceBackingBean.materialsVisible}">
                <!-- WORKSPACE MATERAILS -->
                <div class="workspace-student-item">
                  <a class="icon-materials" title="#{i18n.text['plugin.workspace.dock.materials']}" jsf:outcome="/jsf/workspace/materials.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                    <span class="workspace-student-item-label">#{i18n.text['plugin.workspace.dock.materials']}</span>
                  </a>
                </div>
              </ui:fragment>
              <ui:fragment  rendered="#{workspaceBackingBean.discussionsVisible}">
                <!-- WORKSPACE DICUSSIONS -->
                <div class="workspace-student-item">
                  <a class="icon-bubble" title="#{i18n.text['plugin.workspace.dock.discussions']}" jsf:outcome="/jsf/workspace/discussions.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                    <span class="workspace-student-item-label">#{i18n.text['plugin.workspace.dock.discussions']}</span>
                  </a>
                </div>
              </ui:fragment>
              <ui:fragment rendered="#{workspaceBackingBean.usersVisible}">
                <!-- WORKSPACE STUDENTS -->
                <div class="workspace-student-item">
                  <a class="icon-members" title="#{i18n.text['plugin.workspace.dock.members']}" jsf:outcome="/jsf/workspace/users.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                    <span class="workspace-student-item-label">#{i18n.text['plugin.workspace.dock.members']}</span>
                  </a>
                </div>
              </ui:fragment>
              <ui:fragment rendered="#{workspaceBackingBean.journalVisible}">
                <!-- WORKSPACE JOURNAL -->
                <div class="workspace-student-item">
                  <a class="icon-journal" title="#{i18n.text['plugin.workspace.dock.journal']}" jsf:outcome="/jsf/workspace/journal.jsf?workspaceUrlName=#{workspaceBackingBean.workspaceUrlName}">
                    <span class="workspace-student-item-label">#{i18n.text['plugin.workspace.dock.journal']}</span>
                  </a>
                </div>
              </ui:fragment>
            </div>   
          </div>
        </div>
      </div>
    
    
      <ui:insert name="grid-content"></ui:insert>
    </div>
  </ui:define>

  
</ui:composition>
