<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:jsf="http://xmlns.jcp.org/jsf"
  template="flex-base.xhtml">
  
  <ui:define name="body">
    <ui:insert name="notification-queue">
      <div class="notification-queue">
        <div class="notification-queue-items">
          <ui:insert name="messages">
            <ui:repeat var="message" value="#{facesContext.messageList}">
              <ui:fragment rendered="#{message.severity.ordinal eq 0}">
                <div data-severity="info" class="notification-queue-item notification-queue-item-info"><span>#{message.summary}</span> <a href="javascript:void(null)"></a></div>
              </ui:fragment>
              <ui:fragment rendered="#{message.severity.ordinal eq 1}">
                <div data-severity="warn" class="notification-queue-item notification-queue-item-warn"><span>#{message.summary}</span> <a href="javascript:void(null)"></a></div>
              </ui:fragment>
              <ui:fragment rendered="#{message.severity.ordinal eq 2}">
                <div data-severity="error" class="notification-queue-item notification-queue-item-error"><span>#{message.summary}</span> <a href="javascript:void(null)"></a></div>
              </ui:fragment>
              <ui:fragment rendered="#{message.severity.ordinal eq 3}">
                <div data-severity="fatal" class="notification-queue-item notification-queue-item-fatal"><span>#{message.summary}</span> <a href="javascript:void(null)"></a></div>
              </ui:fragment>
            </ui:repeat>
            <h:messages globalOnly="false" style="display: none" />
          </ui:insert>
        </div>
      </div>
    </ui:insert>
    
    <ui:insert name="of-navigation">
	    <nav class="of-navigation">
	      <div class="of-navigation-wrapper">
		      <div class="of-site-logo"></div>
		      
		      <div class="of-site-links wide-navigation">
			      <ul class="of-links-container">
			        <li class="of-link-item">
			          <a class="nav-link" href="#studying"><span>#{i18n.text['plugin.navigation.link.studying']}</span></a>
			        </li>
			        <li class="of-link-item">
			          <a class="nav-link" href="#news"><span>#{i18n.text['plugin.navigation.link.news']}</span></a>
			        </li>
			        <li class="of-link-item">
			          <a class="nav-link" href="#organization"><span>#{i18n.text['plugin.navigation.link.otavanOpisto']}</span></a>
			        </li>
			        <li class="of-link-item">
			          <a class="nav-link" href="#contact"><span>#{i18n.text['plugin.navigation.link.contact']}</span></a>
			        </li>
			        <li class="of-link-item">
			          <a href="/coursepicker" class="highlight"><span>#{i18n.text['plugin.navigation.link.openMaterials']}</span></a>
			        </li>
			      </ul>
		      </div>
		      
		      <div class="of-site-links narrow-navigation">
            <ul class="of-links-container primary-links">
              <li class="of-link-item show-more-nav-desktop">
                <a href="#"><span class="icon-navicon"></span></a>
              </li>
              <li class="of-link-item">
                <a class="nav-link" href="#studying"><span>#{i18n.text['plugin.navigation.link.studying']}</span></a>
              </li>
              <li class="of-link-item">
                <a class="nav-link" href="#contact"><span>#{i18n.text['plugin.navigation.link.contact']}</span></a>
              </li>
              <li class="of-link-item">
                <a href="/coursepicker" class="highlight"><span>#{i18n.text['plugin.navigation.link.openMaterials']}</span></a>
              </li>
            </ul>
            <ul class="of-links-container secondary-links">
              <li class="of-link-item">
                <a class="nav-link" href="#news"><span>#{i18n.text['plugin.navigation.link.news']}</span></a>
              </li>
              <li class="of-link-item">
                <a class="nav-link" href="#organization"><span>#{i18n.text['plugin.navigation.link.otavanOpisto']}</span></a>
              </li>
            </ul>
          </div>
          
          <div class="of-site-links mobile-navigation">
            <ul class="of-links-container primary-links">
              <li class="of-link-item show-more-nav-mobile">
                <a href="#"><span class="icon-navicon"></span></a>
              </li>
            </ul>
            <ul class="of-links-container secondary-links">
              <li class="of-link-item">
                <a class="nav-link" href="#studying"><span>#{i18n.text['plugin.navigation.link.studying']}</span></a>
              </li>
              <li class="of-link-item">
                <a class="nav-link" href="#news"><span>#{i18n.text['plugin.navigation.link.news']}</span></a>
              </li>
              <li class="of-link-item">
                <a class="nav-link" href="#organization"><span>#{i18n.text['plugin.navigation.link.otavanOpisto']}</span></a>
              </li>
              <li class="of-link-item">
                <a class="nav-link" href="#contact"><span>#{i18n.text['plugin.navigation.link.contact']}</span></a>
              </li>
              <li class="of-link-item">
                <a href="/coursepicker" class="highlight"><span>#{i18n.text['plugin.navigation.link.openMaterials']}</span></a>
              </li>
            </ul>
          </div>
		      
		      <div class="of-site-alternate-links">
		        <div class="of-site-alternate-links-container">
				      <div class="of-site-login">
				        <div class="login">
		              <a class="login-link" jsf:outcome="/login.jsf?authSource=#{loginWidgetBackingBean.credentialessAuthSources[0]}">
		                <span>#{i18n.text['plugin.login.buttonLabel']}</span>
		              </a>
		            </div>
		            <div class="forgotpassword">
		              <a href="#" class="forgotpassword-link">
		                <span>#{i18n.text['plugin.forgotpassword.forgotLink']}</span>
		              </a>
		            </div>
				      </div>
				      <div class="of-site-locale">
				        <div class="selected-language">#{languageWidgetBackingBean.language}</div>
		            <h:form>
		              <div class="language-selection-container" data-visibility-status="hidden">
		                <ui:repeat value="#{i18n.languages}" var="locale">
		                  <a jsf:action="#{languageWidgetBackingBean.setLanguage(locale)}">#{i18n.text['plugin.navigation.language.' .concat(locale)]}</a>
		                </ui:repeat>
		              </div>
		            </h:form>
				      </div>
			      </div>
			      
		      </div>
	      </div>
	    </nav>
	  </ui:insert>
	  
	  <ui:insert name="of-header">
	    <header class="of-header">
	      <div class="of-header-wrapper">
	      
	        <div class="of-header-application-bubble-wrapper">
		        <div class="of-header-application-bubble">
	            <div class="application-title">#{i18n.text['plugin.header.studentApplicationBubble.title']}</div>
	            <div class="application-description">#{i18n.text['plugin.header.studentApplicationBubble.description']}</div>
	            <div class="application-link"><a href="http://www.otavanopisto.fi/hakulomakkeet" target="top">#{i18n.text['plugin.header.studentApplicationBubble.link']}</a></div>
	          </div>
	        </div>
	        
		      <div class="of-header-site-info-wrapper">
		        <div class="of-header-site-info">
		          <div class="site-info-logo"></div>
		          <div class="site-info-wrapper">
		            <div class="site-info-organization">#{i18n.text['plugin.header.site.author']}</div>
		            <div class="site-info-name">
		              <div class="site-info-name-firstpart">Muikku<span class="site-info-name-hyphen">-</span></div>
		              <div class="site-info-name-secondpart">Verkko</div>
		            </div>
	            </div>
	            <div class="site-info-description">#{i18n.text['plugin.header.site.description']}</div>
	          </div>
		      </div>
		      
		      <div class="of-header-open-materials-bubble-wrapper">
			      <div class="of-header-open-materials-bubble">
			        <div class="open-materials-title">#{i18n.text['plugin.header.openMaterialsBubble.title']}</div>
	            <div class="open-materials-description">#{i18n.text['plugin.header.openMaterialsBubble.description']}</div>
	            <div class="open-materials-link"><a href="/coursepicker">#{i18n.text['plugin.header.openMaterialsBubble.link']}</a></div>
			      </div>
			    </div>
			    
	      </div>
	    </header>
	  </ui:insert>
	  
	  <ui:insert name="of-announcement">
	    <div class="of-announcement">
	    
	    </div>
	  </ui:insert>
    
    <ui:insert name="main">
      <main class="of-content">
        <ui:insert name="main-content">
          <div class="flex-grid">
            <ui:insert name="grid-content"></ui:insert>
          </div>
        </ui:insert>
      </main>
    </ui:insert>
    
    <ui:insert name="footer">
      <footer class="of-footer" id="contact">
        <div class="frontpage-footer-container">
          <div class="contact-info-container">
            <h2>#{i18n.text['plugin.footer.contact.title']}</h2>
            <div class="contact-info-row"><span class="icon-location"></span><span>#{i18n.text['plugin.footer.streetAddress.label']}</span><span>Otavantie 2 B, 50670 Otava</span></div>
            <div class="contact-info-row"><span class="icon-phone"></span><span>#{i18n.text['plugin.footer.phoneNumber.label']}</span><span>044 794 3552</span></div>
            <div class="contact-info-row"><span class="icon-email"></span><span>#{i18n.text['plugin.footer.emailAddress.label']}</span><span>info@otavanopisto.fi</span></div>
            <div class="footer-privacy-policy-container">
              <div class="privacy-policy"><a href="https://otavia.fi/wp-content/uploads/2020/02/Opiskelija-ja-opintotietorekisterin-tietosuojaseloste_Otavia.pdf" class="privacy-policy__link" target="top">#{i18n.text['plugin.footer.ooPrivacyPolicy.label']}</a></div>
            </div>
          </div>
          <div class="logo-container">
            <div class="footer-logo slogan"><img src="/gfx/alku_uudelle.jpg" alt="" title="" /></div>
            <div class="footer-logo logo"><img src="/gfx/footer_logo.jpg" alt="" title="" /></div>
          </div>
        </div>
        <div class="frontpage-footer-plagscan-wrapper">
          <div class="frontpage-footer-plagscan-container">
            <div class="footer-plagscan-logo"><a href="https://www.plagscan.com" target="top"><img src="/gfx/plagscan-logo-white.png" alt="" title="" /></a> <span class="plagscan-text">#{i18n.text['plugin.footer.plagscan.text']}</span> <a href="http://otavanopisto.fi/resources/public/tietosuojaselosteet/plagscan-privacy-policy.pdf" target="top" class="plagscan-privacy-policy">(#{i18n.text['plugin.footer.plagScanPrivacyPolicy.label']}).</a></div>
          </div>
        </div>
      </footer>
    </ui:insert>
    
  </ui:define>
  
</ui:composition>
