// NAVBAR
$color-frontpage-button-login-background: $color-primary;
$color-frontpage-button-login-text: $color-primary-contrast;
$color-frontpage-label-forgot-password: $color-primary;

// HERO
$color-frontpage-text-muikku-description: $color-default;
$color-frontpage-text-muikku-author: $color-default;
$color-frontpage-text-muikku: $color-default;
$color-frontpage-text-muikku-text-shadow: rgba(0, 0, 0, 0.3);

$color-frontpage-text-author-text-shadow: rgba(0, 0, 0, 0.3);

$color-frontpage-text-verkko: $color-default;
$color-frontpage-text-verkko-text-shadow: rgba(0, 0, 0, 0.4);
$color-frontpage-text-title: $color-primary;

$color-frontpage-text-description-text-shadow: rgba(0, 0, 0, 0.3);

// SRTUDYING
$color-frontpage-card-upper-secondary-school-title: #5db5c5;
$color-frontpage-button-upper-secondary-school-readmore-text: $color-default;
$color-frontpage-button-upper-secondary-school-readmore-background: $color-frontpage-card-upper-secondary-school-title;

$color-frontpage-card-secondary-school-title: #f58220;
$color-frontpage-button-secondary-school-readmore-text: $color-default;
$color-frontpage-button-secondary-school-readmore-background: $color-frontpage-card-secondary-school-title;

$color-frontpage-card-open-materials-title: #c64986;
$color-frontpage-button-open-materials-readmore-text: $color-default;
$color-frontpage-button-open-materials-readmore-background: $color-frontpage-card-open-materials-title;

// Otavan opisto card
$color-frontpage-text-organization-info-title: $color-inverse;
$color-frontpage-text-organization-description: $color-inverse;

$color-frontpage-button-website-text: $color-primary-contrast;
$color-frontpage-button-website-background: $color-primary;

$color-frontpage-button-newsletter-text: $color-warn-contrast;
$color-frontpage-button-newsletter-background: $color-warn;

// FOOTER
$color-frontpage-text-contact-us: $color-default;
$color-frontpage-text-contact-us-information: $color-default;

// LINK
$color-frontpage-link-language-picker-background: $color-link-inverse-background;
$color-frontpage-link-language-picker-text: $color-link-inverse-text;
$color-frontpage-link-language-picker-hover-background: $color-link-hover-background;

// Separator
$color-frontpage-separator-background: $color-inverse;