$color-index-text-for-panels-title: $color-inverse;
$color-index-text-for-panels-title-continue-studies-icon-background: #2fd4af;
$color-index-text-for-panels-title-continue-studies-icon-color: $color-default;
$color-index-text-for-panels-title-workspaces-icon-background: #2fd2ae;
$color-index-text-for-panels-title-workspaces-icon-color: $color-default;
$color-index-text-for-panels-title-latest-messages-icon-background: #1fe00a;
$color-index-text-for-panels-title-latest-messages-icon-color: $color-default;
$color-index-text-for-panels-title-important-icon-background: #494949;
$color-index-text-for-panels-title-important-icon-color: $color-default;
$color-index-text-for-panels-title-announcements-icon-background: #494949;
$color-index-text-for-panels-title-announcements-icon-color: $color-default;
$color-index-item-list-item-panel-workspaces-icon: $color-index-text-for-panels-title-workspaces-icon-background;
$color-index-item-list-item-panel-latest-messages-icon: #aaa;
$color-index-item-list-item-panel-latest-messages-unread-icon: $color-index-text-for-panels-title-latest-messages-icon-background;
$color-index-item-list-item-panel-announcements-unread-icon: $color-index-text-for-panels-title-announcements-icon-background;
$color-index-text-panels-date-color: #868686;
$color-index-item-list-item-panel-announcements-icon: $color-index-text-for-panels-title-announcements-icon-background;
$color-index-item-list-item-panel-announcements-has-workspaces-icon: #2fd4af